{% extends "layouts/authority.html" %}
{% set pageTitle = 'The Worlds Trusted Currency Authority' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/authority.html" %}
{% endblock %}
