<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="" title="" class="logo"><img src="./assets/img/logo.png" alt=""></a>
            </div>
            <div class="col-md-3 col-6">
                <h4>Company</h4>
                <ul class="link">
                    <li><a href="" title="About">About</a></li>
                    <li><a href="" title="Block">Block</a></li>
                    <li><a href="" title="Security & Policy">Security & Policy</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-6">
                <h4>Support & Partner</h4>
                <ul class="link">
                    <li><a href="" title="Help Center">Help Center</a></li>
                    <li><a href="" title="Contact">Contact</a></li>
                    <li><a href="" title="Affiliates">Affiliates</a></li>
                    <li><a href="" title="Changelog">Changelog</a></li>
                </ul>
            </div>
            <div class="col-md-12">
                <div class="text txt-sm">
                    <p>Wealify, LLC. is a financial technology company and is not a bank. The Wealify Visa® Debit Card is issued by Blue Ridge Bank pursuant to a license from Visa U.S.A. Inc. and may be used everywhere Visa debit cards are accepted. Terms and conditions apply. See the Novel Platform Agreement for details. Terms subject to change.</p>
                    <p>All Rights reserved. ©2023 Wealify. Wealify Business Banking and Wealify Financial Technologies are trademarks of Wealify, LLC.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="container flex">
            <ul class="menu flex">
                <li><a href="" title="Privacy Policy">Privacy Policy</a></li>
                <li><a href="" title="Terms & Conditions">Terms & Conditions</a></li>
                <li><a href="" title="Policies">Policies</a></li>
            </ul>
            <div class="copyright">© Wealify 2023. All rights reserved. Sitemap</div>
        </div>
    </div>
</footer>