<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggle" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/" class="logo"><img src="./assets/img/logo.png" alt=""></a>
            <div class="navbar-collapse" id="navbar">
                <ul class="navbar-nav flex">
                    <li>
                        <a href="javascript:;" title="Product">Product</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="" title="" class="flex">
                                    <div class="icon"><img src="./assets/img/medical_information.svg" alt=""></div>
                                    <div class="info">
                                        <p>Virtrual Company Card</p>
                                        <span>Instantly create multi currency payment card</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="" title="" class="flex">
                                    <div class="icon"><img src="./assets/img/credit_score.svg" alt=""></div>
                                    <div class="info">
                                        <p>Payment to supplier</p>
                                        <span>The last step in the purchase to pay cycle, when your company pays an outside vendor for purchased goods or services</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="" title="" class="flex">
                                    <div class="icon"><img src="./assets/img/apartment.svg" alt=""></div>
                                    <div class="info">
                                        <p>Company fomation</p>
                                        <span>Forming a company couldn't be easier</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="" title="" class="flex">
                                    <div class="icon"><img src="./assets/img/important_devices.svg" alt=""></div>
                                    <div class="info">
                                        <p>Wealify OTC desk</p>
                                        <span>The third method, allowing buyers and sellers to exchange directly</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="/about-us.html" title="About us">About us</a></li>
                    <li><a href="" title="Converter">Rate</a></li>
                    <li><a href="" title="Open card">Open card</a></li>
                </ul>
                <div class="login">
                    <div class="login__before flex">
                        <button type="button" class="btn-login flex-center">Login</button>
                        <a href="" title="" class="btn-pr btn-register flex-center">Open an Account</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
<div class="login login--mobile">
    <div class="login__before flex">
        <button type="button" class="btn-login flex-center">Login</button>
        <a href="" title="" class="btn-pr btn-register flex-center">Open an Account</a>
    </div>
</div>
