<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggle" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/" class="logo"><img src="./assets/img/logo.png" alt=""></a>
            <div class="navbar-collapse" id="navbar">
                <ul class="navbar-nav flex">
                    <li>
                        <a href="" title="SET UP A COMPANY IN COUNTRY">Set up a company in country</a>
                        <ul class="sub-menu"></ul>
                    </li>
                    <li><a href="" title="OPEN BUSINESS BANK ACCOUNT">Open business bank account</a></li>
                    <li><a href="" title="PACKAGE SERVICES">Package services</a></li>
                    <li><a href="" title="About us">About us</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
