<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/aos.css" rel="stylesheet">
    <link href="./assets/css/select2.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/aos.js"></script>
<script src="./assets/js/select2.min.js"></script>
<script src="./assets/js/highstock.js"></script>
<script src="./assets/js/data.js"></script>
<script src="./assets/js/page_all.js"></script>
<script>
    $(document).ready(function () {
        AOS.init({
            easing: 'ease-out-back',
            duration: 1000,
            once: true,
            offset: 40,
        });

        //call select min2
        $('.select2-min').select2();

        Highcharts.getJSON('https://demo-live-data.highcharts.com/aapl-c.json', function (data) {

            // Create the chart
            Highcharts.stockChart('container', {
                rangeSelector: {
                    selected: 1,
                    buttonTheme: { // styles for the buttons
                        fill: 'none',
                        stroke: '#D0CCCC',
                        'stroke-width': 1,
                        r: 8,
                        height: 36,
                        width: 72,
                        style: {
                            color: '#140000',
                            fontWeight: '600',
                        },
                        states: {
                            hover: {

                            },
                            select: {
                                fill: '#FF6E40',
                                stroke: '',
                                'stroke-width': 0,
                                style: {
                                    color: 'white'
                                }
                            }
                            // disabled: { ... }
                        }
                    },
                    buttonSpacing:20,

                    labelStyle: {
                        display: 'none'
                    },
                    buttons: [
                        {
                        type: 'month',
                        count: 1,
                        text: '1m',
                        title: 'View 1 month'
                    }, {
                        type: 'month',
                        count: 3,
                        text: '3m',
                        title: 'View 3 months'
                    }, {
                        type: 'month',
                        count: 6,
                        text: '6m',
                        title: 'View 6 months'
                    },
                        {
                        type: 'year',
                        count: 1,
                        text: '1y',
                        title: 'View 1 year'
                    },
                        {
                        type: 'all',
                        text: 'All',
                        title: 'View all'
                    }],
                    inputEnabled : false,

                },

                title: {
                    text: ''
                },
                navigator: {
                    enabled : false
                },
                srcollbar: {
                    enabled: false
                },

                xAxis: {
                    gridLineColor:'#726666',
                    gridLineDashStyle: 'ShortDash',
                    labels: {
                        style:{
                            color: '#726666',
                            fontsize: '12px',
                            lineheight: '18px',
                            fontweight: '400'
                        },
                    },
                },
                yAxis: {
                    labels: {
                        style:{
                            color: '#140000',
                            fontSize: '1em',
                            lineheight: '18px',
                            fontweight: '400'
                        },
                    },
                    tickColor: '#726666',
                    gridLineDashStyle: 'longdash'
                },
                tooltip: {

                },

                    series: [{
                    name: 'GBP',
                    className: "tooltip-box",
                    data: data,
                    type: 'areaspline',
                    threshold: null,

                    color: '#FF6E40',
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, 'rgba(255, 110, 64,.2)'],
                            [1, 'rgba(255, 110, 64,0)']
                        ]
                    }
                }]
            });
        });

    });
</script>
</body>
</html>