<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header-cs.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/slick.js"></script>
<script src="./assets/js/page_all.js"></script>
<script>
    $(document).ready(function () {
        $('.flag-list').slick({
            centerMode: true,
            slidesToShow: 5,
            centerPadding: '0px',
            arrows: false,
            dots: true,
            responsive: [
                {
                    breakpoint: 821,
                    settings: {
                        slidesToShow: 3
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 2
                    }
                }
            ]
        });
        $('.feedback-list').slick({
            slidesToShow: 1,
            arrows: false,
            fade: true,
            dots: true,
        });

        var wotc = window.innerWidth;
        if(wotc < 640){
            $('.row-slider-m').slick({
                infinite: true,
                slidesToShow: 1,
                arrows: false,
                dots: true
            });
        }
    });
</script>
</body>
</html>