<main>
    <div class="wealify-about-us pr">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="content">
                        <h1 class="title font-weight-bold" data-aos="fade-up"><span>Wealify</span> – Empowering modern businesses to grow beyond borders</h1>
                        <p class="txt-sm text-justify" data-aos="fade-up" data-aos-delay="300">Wealify is one of the long-standing organizations in the field of e-commerce and information technology. With experience in operating in the international market and a team of technology experts, we especially focus on developing platforms that provide solutions and support services for Vietnamese individuals and businesses to trade with the world simply through e-commerce. Wealify takes advantage of technology to help people expand their business scope as well as interact with international companies in the most convenient way.</p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="img-wrapper"><img src="./assets/img/globe-2.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-partners line">
        <div class="container">
            <div class="header text-center mb-md" data-aos="fade-up">
                <h2 class="title font-weight-bold">What do partners talk about us?</h2>
                <p>Our values define who we are and how we work. We strive to live by our six guiding principles.</p>
            </div>
            <div class="partner-list" data-aos="fade-in" data-aos-delay="200">
                <div class="item">
                    <div class="avatar mx-auto mb-20"><img src="./assets/img/avt.png" alt=""></div>
                    <div class="txt-md mb-20 txt-black">Mr. Phuc Thai - CEO of PGcom</div>
                    <div class="txt-sm mb-20">
                        "Legal filings and oversea solutions can be time-consuming tasks that you might not want to deal with. Having Wealilfy take care of it saves you time and lets you focus on the important aspects of growing your business."
                    </div>
                    <div class="rating flex">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="item">
                    <div class="avatar mx-auto mb-20"><img src="./assets/img/avt2.png" alt=""></div>
                    <div class="txt-md mb-20 txt-black">Mr. Ryan Dang - CEO of The Human</div>
                    <div class="txt-sm mb-20">
                        "I created my LLC using Wealilfy and the process was incredibly smooth. It only took a day and a few clicks of a button."
                    </div>
                    <div class="rating flex">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="item">
                    <div class="avatar mx-auto mb-20"><img src="./assets/img/avt3.png" alt=""></div>
                    <div class="txt-md mb-20 txt-black">Mr. Dong - CEO of Burgerprints</div>
                    <div class="txt-sm mb-20">
                        "Thank you to the Wealilfy team for going above and beyond just helping me set up an oversea business. You offer a platform and ecosystem of partners that is invaluable to founders like me. I truly appreciate your support."
                    </div>
                    <div class="rating flex">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span class="no"></span>
                    </div>
                </div>
                <div class="item">
                    <div class="avatar mx-auto mb-20"><img src="./assets/img/avt2.png" alt=""></div>
                    <div class="txt-md mb-20 txt-black">Mr. Ryan Dang - CEO of The Human</div>
                    <div class="txt-sm mb-20">
                        "I created my LLC using Wealilfy and the process was incredibly smooth. It only took a day and a few clicks of a button."
                    </div>
                    <div class="rating flex">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-us">
        <div class="container">
            <div class="header text-center mb-md">
                <h2 class="title font-weight-bold">What drives us</h2>
            </div>
            <div class="grid-template" data-aos="fade-up">
                <div class="item">
                    <h4 class="mb-20">Customers First</h4>
                    <p class="txt-sm">Our customers are why we are here. Knowing them, keeping them and consistently delivering a superior experience is the only way we can fulfill our mission.</p>
                </div>
                <div class="item">
                    <h4 class="mb-20">Obsessive Curiosity</h4>
                    <p class="txt-sm">We always start by asking why and seek to understand. We have a hunger for knowledge, seek challenges that are insatiably interesting and always consider if there are better ideas.</p>
                </div>
                <div class="item">
                    <h4 class="mb-20">Inspire and Be Inspired</h4>
                    <p class="txt-sm">We are a melting pot of cultures and ideas, and we recognise that happy, healthy and highly-functioning teams are inclusive and diverse. We celebrate success, share knowledge, learn and grow together.</p>
                </div>
                <div class="item">
                    <h4 class="mb-20">Intellectual Honesty</h4>
                    <p class="txt-sm">We want to constantly seek the truth, to be open, constructive and transparent, approaching every problem with data and facts, not conjecture and opinion.</p>
                </div>
                <div class="item">
                    <h4 class="mb-20">Craftsmanship</h4>
                    <p class="txt-sm">We are about product and engineering excellence. We create products and solutions with passion, finesse and meticulous attention-to-detail to deliver the best customer experience and outcome.</p>
                </div>
                <div class="item">
                    <h4 class="mb-20">Make Impact</h4>
                    <p class="txt-sm">The reason we show up every day is our desire to make an impact and create a better world with what we do. We have one purpose in mind - to empower businesses of all sizes to grow without borders and scale the digital economy.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-branch pr">
        <div class="container">
            <div class="header">
                <h2 class="title font-weight-bold">Our global branch</h2>
            </div>
            <div class="branch-list flex">
                <div class="branch" data-aos="fade-up">
                    <div class="branch__logo"><img src="./assets/img/capitol.png" alt=""></div>
                    <div class="branch__name my-20 txt-md txt-black">USA Office</div>
                    <div class="branch__info txt-sm">
                        <p>Address: <span class="txt-black">530-B Harkle Rd Ste 100 Santa Fe NM 87505</span></p>
                        <p>Phone Number: <a href="tel:14244019314" class="txt-black">+14244019314</a></p>
                        <p>Email: <a href="mailto:contact@wealify.com" class="txt-black">contact@wealify.com</a></p>
                    </div>
                </div>
                <div class="branch" data-aos="fade-up" data-aos-delay="200">
                    <div class="branch__logo"><img src="./assets/img/merlion.png" alt=""></div>
                    <div class="branch__name my-20 txt-md txt-black">Singapore Office</div>
                    <div class="branch__info txt-sm">
                        <p>Address: <span class="txt-black">530-B Harkle Rd Ste 100 Santa Fe NM 87505</span></p>
                        <p>Phone Number: <a href="tel:14244019314" class="txt-black">+14244019314</a></p>
                        <p>Email: <a href="mailto:contact@wealify.com" class="txt-black">contact@wealify.com</a></p>
                    </div>
                </div>
                <div class="branch" data-aos="fade-up" data-aos-delay="400">
                    <div class="branch__logo"><img src="./assets/img/skyline.png" alt=""></div>
                    <div class="branch__name my-20 txt-md txt-black">Hong Kong Office</div>
                    <div class="branch__info txt-sm">
                        <p>Address: <span class="txt-black">530-B Harkle Rd Ste 100 Santa Fe NM 87505</span></p>
                        <p>Phone Number: <a href="tel:14244019314" class="txt-black">+14244019314</a></p>
                        <p>Email: <a href="mailto:contact@wealify.com" class="txt-black">contact@wealify.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>