<main>
    <div class="wealify-authority">
        <div class="container">
            <div class="header text-center mb-md">
                <h2 class="title font-weight-bold">The World's Trusted Currency Authority</h2>
                <p>Check exchange rates, send money internationally, and free currency tools</p>
            </div>
            <div class="box-tab mb-5">
                <div class="logo flex-center"><img src="./assets/img/logo.png" width="160" alt=""></div>
                <ul class="tab nav mb-20">
                    <li><a href="#converter" title="" data-toggle="tab" class="txt-md-r active">Wealify Currency Converter</a></li>
                    <li><a href="#payment" title="" data-toggle="tab" class="txt-md-r">Supplier Payment</a></li>
                </ul>
                <div class="tab-content">
                    <div id="converter" class="tab-pane fade show active">
                        <form action="" method="">
                            <div class="form-group">
                                <label class="txt-md txt-black">Amount</label>
                                <input type="text" name="" value="$1.00">
                            </div>
                            <div class="form-group">
                                <label class="txt-md txt-black">From</label>
                                <select name="" class="select2-min">
                                    <option value="">USD - US Dollar</option>
                                </select>
                            </div>
                            <div class="flex-center my-20">
                                <button type="button" class="btn-change"></button>
                            </div>
                            <div class="form-group">
                                <label class="txt-md txt-black">To</label>
                                <select name="" class="select2-min">
                                    <option value="">VND - Viet Nam Dong</option>
                                </select>
                            </div>
                            <div class="box-btn flex">
                                <button type="submit" class="btn-pr flex-center">Convert</button>
                                <button type="button" class="btn-sub flex-center">Alert Currency</button>
                            </div>
                        </form>
                    </div>
                    <div id="payment" class="tab-pane fade">
                        <form action="" method="">
                            <div class="form-group">
                                <label class="txt-md txt-black">Supplier get</label>
                                <div class="form-group--sub mb-20">
                                    <input type="text" name="" placeholder="text">
                                    <select name="" class="select2-min">
                                        <option value="">VND</option>
                                        <option value="">USD</option>
                                    </select>
                                </div>
                                <div class="val flex-lc mb-20">23,400.00 <span>VND</span></div>
                            </div>
                            <div class="form-group">
                                <label class="txt-md txt-black">Total needed</label>
                                <input type="text" name="" placeholder="text">
                            </div>
                            <div class="box-btn flex-center">
                                <button type="submit" class="btn-pr flex-center">View savings</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="table-price">
                <div class="d-flex time justify-content-end txt-xs txt-black mb-3">May 10, 2023, 15:34 GMT</div>
                <div class="box-table">
                    <table>
                        <thead>
                        <tr>
                            <th></th>
                            <th>Mua vào</th>
                            <th>Bán ra</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>USD chuyển khoản</td>
                            <td>
                                <div class="flex-center">
                                    <p>...</p>
                                    <i class="icon icon-down"></i>
                                </div>
                            </td>
                            <td>
                                <div class="flex-center">
                                    <p>23,400.00 <span>VND</span></p>
                                    <i class="icon icon-up"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>USD tự do</td>
                            <td>
                                <div class="flex-center">
                                    <p>23,400.00 <span>VND</span></p>
                                    <i class="icon icon-down"></i>
                                </div>
                            </td>
                            <td>
                                <div class="flex-center">
                                    <p>23,400.00 <span>vnd</span></p>
                                    <i class="icon icon-up"></i>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="chart">
                <div class="header flex align-items-start mb-3 px-2">
                    <div>
                        <div class="flex-lc">
                            <h4 class="txt-md txt-black">GBP to EUR Chart</h4>
                            <span class="price down txt-md-r">-1.55%</span>
                        </div>
                        <p class="txt-xs">British Pound to Euro Powered by trading view</p>
                    </div>
                    <div class="token-info flex-lc">
                        <i class="icon mr-3"></i>
                        <div class="txt-md txt-black mr-2">1 GBP = <span>1.14958</span> EUR</div>
                        <time class="txt-xs">May 10, 2023, 15:34 GMT</time>
                    </div>
                </div>
                <div id="container"></div>
            </div>
        </div>
    </div>
    <div class="wealify-table">
        <div class="container">
            <div class="header mb-md text-center">
                <h2 class="title font-weight-bold">Popular British Pound Pairings</h2>
            </div>
            <div class="box-table mb-lg">
                <table class="table-fw">
                    <thead>
                    <tr>
                        <th>
                            <span>Coin</span>
                            <p>748 Matches</p>
                        </th>
                        <th>
                            <div class="flex-center">
                                Rank
                                <div class="icon"><img src="./assets/img/arrow-down-1.svg" alt=""></div>
                            </div>
                        </th>
                        <th>Price</th>
                        <th>Change % 24h</th>
                        <th>Market cap</th>
                        <th>Volume in USD 24h</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="coin flex-lc">
                                <div class="coin__img"><img src="./assets/img/btc.svg" alt=""></div>
                                <div class="coin__info">
                                    <p>BTC</p>
                                    <span>Bitcoin</span>
                                </div>
                            </div>
                        </td>
                        <td>1</td>
                        <td><div class="txt flex-lc">27873.69 <span>USD</span></div></td>
                        <td><div class="down">-0.30%</div></td>
                        <td><div class="txt flex-lc">539.061B <span>USD</span></div></td>
                        <td><div class="txt flex-lc">12.95B <span>USD</span></div></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="coin flex-lc">
                                <div class="coin__img"><img src="./assets/img/eth.svg" alt=""></div>
                                <div class="coin__info">
                                    <p>ETH</p>
                                    <span>Ethereum</span>
                                </div>
                            </div>
                        </td>
                        <td>2</td>
                        <td><div class="txt flex-lc">1854.16 <span>USD</span></div></td>
                        <td><div class="down">-1.49%</div></td>
                        <td><div class="txt flex-lc">223.348B <span>USD</span></div></td>
                        <td><div class="txt flex-lc">9.559B <span>USD</span></div></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="coin flex-lc">
                                <div class="coin__img"><img src="./assets/img/usdt.svg" alt=""></div>
                                <div class="coin__info">
                                    <p>USDT</p>
                                    <span>Tether</span>
                                </div>
                            </div>
                        </td>
                        <td>3</td>
                        <td><div class="txt flex-lc">1.000520 <span>USD</span></div></td>
                        <td><div class="up">0.79%</div></td>
                        <td><div class="txt flex-lc">80.237B <span>USD</span></div></td>
                        <td><div class="txt flex-lc">22.789B <span>USD</span></div></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="coin flex-lc">
                                <div class="coin__img"><img src="./assets/img/bnb.svg" alt=""></div>
                                <div class="coin__info">
                                    <p>BNB</p>
                                    <span>BNB</span>
                                </div>
                            </div>
                        </td>
                        <td>4</td>
                        <td><div class="txt flex-lc">310.28181403 <span>USD</span></div></td>
                        <td><div class="down">-0.79%</div></td>
                        <td><div class="txt flex-lc">48.99B <span>USD</span></div></td>
                        <td><div class="txt flex-lc">503.326M <span>USD</span></div></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="coin flex-lc">
                                <div class="coin__img"><img src="./assets/img/usdc.svg" alt=""></div>
                                <div class="coin__info">
                                    <p>USDC</p>
                                    <span>USD Coin</span>
                                </div>
                            </div>
                        </td>
                        <td>5</td>
                        <td><div class="txt flex-lc">1.000015 <span>USD</span></div></td>
                        <td><div class="down">-0.01%</div></td>
                        <td><div class="txt flex-lc">32.763B <span>USD</span></div></td>
                        <td><div class="txt flex-lc">3.645B <span>USD</span></div></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="coin flex-lc">
                                <div class="coin__img"><img src="./assets/img/xrp.svg" alt=""></div>
                                <div class="coin__info">
                                    <p>XRP</p>
                                    <span>XRP</span>
                                </div>
                            </div>
                        </td>
                        <td>6</td>
                        <td><div class="txt flex-lc">0.51060 <span>USD</span></div></td>
                        <td><div class="up">0.30%</div></td>
                        <td><div class="txt flex-lc">26.392B <span>USD</span></div></td>
                        <td><div class="txt flex-lc">1.082B <span>USD</span></div></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h2 class="title font-weight-bold text-center mb-20">Live Currency Rates</h2>
                    <div class="box-table mb-4">
                        <table class="table-xs">
                            <thead>
                                <tr>
                                    <th>Currency</th>
                                    <th>Rate</th>
                                    <th>Change</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><div class="currency flex-center">EUR <span>/</span> USD</div></td>
                                    <td>1.09055</td>
                                    <td><i class="icon icon-down"></i></td>
                                </tr>
                                <tr>
                                    <td><div class="currency flex-center">GBP <span>/</span> EUR</div></td>
                                    <td>1.14684</td>
                                    <td><i class="icon icon-down"></i></td>
                                </tr>
                                <tr>
                                    <td><div class="currency flex-center">USD <span>/</span> JPY</div></td>
                                    <td>134.452</td>
                                    <td><i class="icon icon-down"></i></td>
                                </tr>
                                <tr>
                                    <td><div class="currency flex-center">GBP <span>/</span> USD</div></td>
                                    <td>1.25118</td>
                                    <td><i class="icon icon-down"></i></td>
                                </tr>
                                <tr>
                                    <td><div class="currency flex-center">USD <span>/</span> CHF</div></td>
                                    <td>0.895577</td>
                                    <td><i class="icon icon-up"></i></td>
                                </tr>
                                <tr>
                                    <td><div class="currency flex-center">USD <span>/</span> CAD</div></td>
                                    <td>1.34866</td>
                                    <td><i class="icon icon-up"></i></td>
                                </tr>
                                <tr>
                                    <td><div class="currency flex-center">EUR <span>/</span> JPY</div></td>
                                    <td>146.679</td>
                                    <td><i class="icon icon-down"></i></td>
                                </tr>
                                <tr>
                                    <td><div class="currency flex-center">AUD <span>/</span> USD</div></td>
                                    <td>0.669633</td>
                                    <td><i class="icon icon-down"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="title font-weight-bold text-center mb-20">Central Bank Rates</h2>
                    <div class="box-table mb-4">
                        <table class="table-xs">
                            <thead>
                                <tr>
                                    <th>Currency</th>
                                    <th>Interest Rate</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><div class="currency">JPY</div></td>
                                    <td>-0.10%</td>
                                </tr>
                                <tr>
                                    <td><div class="currency">CHF</div></td>
                                    <td>-0.25%</td>
                                </tr>
                                <tr>
                                    <td><div class="currency">EUR</div></td>
                                    <td>1.25%</td>
                                </tr>
                                <tr>
                                    <td><div class="currency">USD</div></td>
                                    <td>2.50%</td>
                                </tr>
                                <tr>
                                    <td><div class="currency">CAD</div></td>
                                    <td>3.25%</td>
                                </tr>
                                <tr>
                                    <td><div class="currency">AUD</div></td>
                                    <td>2.35%</td>
                                </tr>
                                <tr>
                                    <td><div class="currency">NZD</div></td>
                                    <td>3.00%</td>
                                </tr>
                                <tr>
                                    <td><div class="currency">GBP</div></td>
                                    <td>1.75%</td>
                                </tr>
                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>