<main>
    <div class="wealify-flag pb-lg pt-md">
        <div class="container">
            <div class="flag-list">
                <div class="flag">
                    <div class="flag__img"><img src="./assets/img/singapore.svg" alt=""></div>
                    <div class="flag__text txt-sm">Support services to set up a company in the SING</div>
                    <div class="flex-center">
                        <button type="button" class="btn-setup">Set up now</button>
                    </div>
                </div>
                <div class="flag">
                    <div class="flag__img"><img src="./assets/img/hong-kong.svg" alt=""></div>
                    <div class="flag__text txt-sm">Support services to set up a company in the SING</div>
                    <div class="flex-center">
                        <button type="button" class="btn-setup">Set up now</button>
                    </div>
                </div>
                <div class="flag">
                    <div class="flag__img"><img src="./assets/img/europe.svg" alt=""></div>
                    <div class="flag__text txt-sm">Support services to set up a company in the SING</div>
                    <div class="flex-center">
                        <button type="button" class="btn-setup">Set up now</button>
                    </div>
                </div>
                <div class="flag">
                    <div class="flag__img"><img src="./assets/img/united-states-of-america.svg" alt=""></div>
                    <div class="flag__text txt-sm">Support services to set up a company in the SING</div>
                    <div class="flex-center">
                        <button type="button" class="btn-setup">Set up now</button>
                    </div>
                </div>
                <div class="flag">
                    <div class="flag__img"><img src="./assets/img/united-kingdom.svg" alt=""></div>
                    <div class="flag__text txt-sm">Support services to set up a company in the SING</div>
                    <div class="flex-center">
                        <button type="button" class="btn-setup">Set up now</button>
                    </div>
                </div>
                <div class="flag">
                    <div class="flag__img"><img src="./assets/img/europe.svg" alt=""></div>
                    <div class="flag__text txt-sm">Support services to set up a company in the SING</div>
                    <div class="flex-center">
                        <button type="button" class="btn-setup">Set up now</button>
                    </div>
                </div>
            </div>
            <div class="text text-center">International business in the free lands has never been easier with the support of Wealify. We provide solutions for setting up a company in tiers 1 country around the world and opening a corporate bank account in the same country, making financial statements after incorporation</div>
            <a href="" title="Contact now for a consultation!" class="btn-contact btn-pr flex-center">Contact now for a consultation!</a>
        </div>
    </div>
    <div class="wealify-news pb-lg">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <article class="post">
                        <a href="" title="" class="post__thumb pr">
                            <img src="./assets/img/kinh_te_my1.jpg" class="img-fit" alt="">
                            <p class="flex-center"><span>Benefits of setting up a company in the US-UK</span></p>
                        </a>
                        <h3 class="txt-md text-center"><a href="" title="" class="txt-black">Benefits of setting up a company in the US-UK</a></h3>
                    </article>
                </div>
                <div class="col-lg-3 col-md-6">
                    <article class="post">
                        <a href="" title="" class="post__thumb pr">
                            <img src="./assets/img/kinh_te_my1.jpg" class="img-fit" alt="">
                            <p class="flex-center"><span>Why a US-UK business account is needed?</span></p>
                        </a>
                        <h3 class="txt-md text-center"><a href="" title="" class="txt-black">Why a US-UK business account is needed?</a></h3>
                    </article>
                </div>
                <div class="col-lg-3 col-md-6">
                    <article class="post">
                        <a href="" title="" class="post__thumb pr">
                            <img src="./assets/img/kinh_te_my1.jpg" class="img-fit" alt="">
                            <p class="flex-center"><span>Questions about corporate tax in US-UK</span></p>
                        </a>
                        <h3 class="txt-md text-center"><a href="" title="" class="txt-black">Questions about corporate tax in US-UK</a></h3>
                    </article>
                </div>
                <div class="col-lg-3 col-md-6">
                    <article class="post">
                        <a href="" title="" class="post__thumb pr">
                            <img src="./assets/img/kinh_te_my1.jpg" class="img-fit" alt="">
                            <p class="flex-center"><span>Overview of business types in the US-UK</span></p>
                        </a>
                        <h3 class="txt-md text-center"><a href="" title="" class="txt-black">Overview of business types in the US-UK</a></h3>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-message pb-lg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="content">
                        <p class="txt-md mb-10">Empowering founders like you around the world</p>
                        <h2 class="title font-weight-bold"><span>Wealify</span> thousands of founders to start, run, and grow their business</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-wrapper"><img src="./assets/img/globe-2.svg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-partners pb-lg">
        <div class="container">
            <div class="header text-center mb-md" data-aos="fade-up">
                <h2 class="title font-weight-bold">What do partners talk about us?</h2>
                <p>Our values define who we are and how we work. We strive to live by our six guiding principles.</p>
            </div>
            <div class="row row-slider-m" data-aos="fade-in" data-aos-delay="200">
                <div class="col-lg-3 col-md-6">
                    <div class="item">
                        <div class="avatar mx-auto mb-20"><img src="./assets/img/avt.png" alt=""></div>
                        <div class="name txt-md mb-20 txt-black">Mr. Phuc Thai - CEO of PGcom</div>
                        <div class="message txt-sm mb-20">
                            "Legal filings and oversea solutions can be time-consuming tasks that you might not want to deal with. Having Wealilfy take care of it saves you time and lets you focus on the important aspects of growing your business."
                        </div>
                        <div class="rating flex">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="item">
                        <div class="avatar mx-auto mb-20"><img src="./assets/img/avt2.png" alt=""></div>
                        <div class="name txt-md mb-20 txt-black">Mr. Ryan Dang - CEO of The Human</div>
                        <div class="message txt-sm mb-20">
                            "I created my LLC using Wealilfy and the process was incredibly smooth. It only took a day and a few clicks of a button."
                        </div>
                        <div class="rating flex">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="item">
                        <div class="avatar mx-auto mb-20"><img src="./assets/img/avt3.png" alt=""></div>
                        <div class="name txt-md mb-20 txt-black">Mr. Dong - CEO of Burgerprints</div>
                        <div class="message txt-sm mb-20">
                            "Thank you to the Wealilfy team for going above and beyond just helping me set up an oversea business. You offer a platform and ecosystem of partners that is invaluable to founders like me. I truly appreciate your support."
                        </div>
                        <div class="rating flex">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span class="no"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="item">
                        <div class="avatar mx-auto mb-20"><img src="./assets/img/avt2.png" alt=""></div>
                        <div class="name txt-md mb-20 txt-black">Mr. Ryan Dang - CEO of The Human</div>
                        <div class="message txt-sm mb-20">
                            "I created my LLC using Wealilfy and the process was incredibly smooth. It only took a day and a few clicks of a button."
                        </div>
                        <div class="rating flex">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span class="no"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-formation pb-lg">
        <div class="container">
            <div class="row align-items-center mb-md">
                <div class="col-md-6">
                    <div class="img-wrapper">
                        <img src="./assets/img/thumb-contact.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content">
                        <h2 class="title font-weight-bold">US company formation made easy</h2>
                        <ul class="check-list txt-xs">
                            <li>US BUSINESS FORMATION</li>
                            <li>EIN & Operating Agreement</li>
                            <li>Free Registered Agent Service for 1 year</li>
                            <li>Mailing address/virtual mailbox</li>
                            <li>Help setting up US bank account</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="item flex-center"><span>FORM MY COMPANY*1 week</span></div>
                </div>
                <div class="col-md-3">
                    <div class="item flex-center">
                        <span>GET YOUR EIN</span>
                        <span>*With ssn: 1 week</span>
                        <span>Without ssn: 8->11 week</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item flex-center">
                        <span>APPLY FOR YOUR US BANK ACCOUNT</span>
                        <span>*1-2 week</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item flex-center">
                        <span>SETUP PAYMENTS</span>
                        <span>*A few day</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-feedback pb-lg">
        <div class="container">
            <div class="header mb-md text-center">
                <h2 class="title font-weight-bold">See what founders say about <span>Wealify</span></h2>
            </div>
            <div class="feedback feedback-list">
                <div class="item">
                    <div class="text">"We’ve been growing a lot with cards internationally. Wealify has really been an enabler because it’s a global platform."</div>
                    <div class="rating flex">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="author"><span>- Mr. Frankie,</span> Founder and CEO of FADO</div>
                </div>
                <div class="item">
                    <div class="text">"We’ve been growing a lot with cards internationally. Wealify has really been an enabler because it’s a global platform."</div>
                    <div class="rating flex">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="author"><span>- Mr. Frankie,</span> Founder and CEO of FADO</div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-support pb-lg">
        <div class="container">
            <div class="header mb-md text-center">
                <h2 class="title font-weight-bold">Support your business needs after formation</h2>
            </div>
            <div class="support-list flex justify-content-between">
                <div class="item text-center">
                    <div class="icon mb-10 flex-center"><img src="./assets/img/discount.svg" alt=""></div>
                    <h4 class="txt-md txt-black mb-10">Tax and compliance</h4>
                    <p class="txt-xs">Get all your paperwork filed and stop worrying about fines</p>
                </div>
                <div class="item text-center">
                    <div class="icon mb-10 flex-center"><img src="./assets/img/bank.svg" alt=""></div>
                    <h4 class="txt-md txt-black mb-10">Wealify banking</h4>
                    <p class="txt-xs">Receive client payments in USD from around the world</p>
                </div>
                <div class="item text-center">
                    <div class="icon mb-10 flex-center"><img src="./assets/img/calculator.svg" alt=""></div>
                    <h4 class="txt-md txt-black mb-10">Bookeeping</h4>
                    <p class="txt-xs">Track your business finances with ease</p>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-faq pb-lg">
        <div class="container">
            <div class="header text-center">
                <h2 class="title font-weight-bold">Frequently Asked Questions</h2>
            </div>
            <div class="faq-list aos-init">
                <div class="item">
                    <div class="item__header flex-lc">
                        <h4>Do I need to be a US citizen to work with wealify?</h4>
                        <i class="icon icon-more"></i>
                    </div>
                    <div class="item__content">
                        <div class="inside">

                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__header flex-lc">
                        <h4>What information do you need from me to get started?</h4>
                        <i class="icon icon-more"></i>
                    </div>
                    <div class="item__content">
                        <div class="inside"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__header flex-lc">
                        <h4>What is an LLC (Limited Liability Company)?</h4>
                        <i class="icon icon-more"></i>
                    </div>
                    <div class="item__content">
                        <div class="inside">
                            <p>We support trading for major currencies (USD & upcoming EURO /GBP/HKD.etc) and USDT/USDC. Please contact our OTC desk with any trade inquiries via your dedicated chat room.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__header flex-lc">
                        <h4>What is an EIN?</h4>
                        <i class="icon icon-more"></i>
                    </div>
                    <div class="item__content">
                        <div class="inside"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__header flex-lc">
                        <h4>What is an ITIN?</h4>
                        <i class="icon icon-more"></i>
                    </div>
                    <div class="item__content">
                        <div class="inside"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-looking pb-md">
        <div class="container">
            <div class="header mb-md">
                <h2 class="title font-weight-bold">Looking for more information?</h2>
            </div>
            <div class="looking-list flex">
                <div class="item">
                    <h4 class="txt-md txt-black mb-10">Wealify FAQ</h4>
                    <p class="txt-xs">Unsure how US business taxes work? Wondering how to setup your company on an H1-B visa?</p>
                </div>
                <div class="item">
                    <h4 class="txt-md txt-black mb-10">Wealify for US Resident</h4>
                    <p class="txt-xs">Learn how to form a company in your home state,what entity type is right for you and more!</p>
                </div>
                <div class="item">
                    <h4 class="txt-md txt-black mb-10">Wealify for non-US Resident</h4>
                    <p class="txt-xs">You dont need to be a US Resident to start your dream US Company with Wealify.Learn how to form from around the world!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-contact">
        <div class="container">
            <div class="row flex-lc">
                <div class="col-md-9">
                    <div class="header">
                        <h2 class="title txt-xl mb-10">Contact for more information</h2>
                        <p class="txt-xs">For more inquiry，please leave us a message</p>
                    </div>
                    <div class="contact-list flex">
                        <p class="txt-xs">Email: <a href="mailto:info@wealify.com">info@wealify.com</a></p>
                        <p class="txt-xs">Telegram: <span>@wealifyotc</span></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <a href="" title="Start Trading" class="btn-start btn-pr flex-center">Start Trading</a>
                </div>
            </div>
        </div>
    </div>
</main>