<main>
    <div class="box-breadcrumb container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Product</a></li>
            <li class="breadcrumb-item active">Wealify OTC Desk</li>
        </ul>
    </div>
    <div class="wealify-intro-desk pr">
        <div class="container">
            <div class="content" data-aos="fade-up">
                <h1><span>Wealify</span> OTC Desk</h1>
                <p class="txt-sm">Best-In-Class Service in Crypto, ultra-competitive price, and secure settlement.</p>
                <a href="" title="" class="btn-start btn-pr flex-center">Start Trading</a>
                <div class="note txt-xs">For any request, please <a href="" title="">contact us.</a></div>
            </div>
            <div class="img-wrapper"><img src="./assets/img/globe-1.png" alt=""></div>
        </div>
    </div>
    <div class="wealify-procedure bg-gr pr">
        <div class="container">
            <div class="header">
                <h2 class="title font-weight-bold text-center">Onboarding Procedure</h2>
            </div>
            <div class="procedure-list flex">
                <div class="item" data-aos="fade-up">
                    <div class="icon mb-10"><img src="./assets/img/signup.svg" alt=""></div>
                    <h4 class="txt-md mb-10">Signup</h4>
                    <p class="txt-sm">Open <strong>Wealify</strong> Institution account or personal account and finish KYC as required.</p>
                </div>
                <div class="item" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon mb-10"><img src="./assets/img/order-xecution.svg" alt=""></div>
                    <h4 class="txt-md mb-10">Order Execution</h4>
                    <p class="txt-sm">Orders could be placed through your dedicated trading chat room.</p>
                </div>
                <div class="item" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon mb-10"><img src="./assets/img/discuss.svg" alt=""></div>
                    <h4 class="txt-md mb-10">Discuss</h4>
                    <p class="txt-sm">Request for real-time quotes offline from OTC trades.</p>
                </div>
                <div class="item" data-aos="fade-up" data-aos-delay="600">
                    <div class="icon mb-10"><img src="./assets/img/delivery.svg" alt=""></div>
                    <h4 class="txt-md mb-10">Delivery</h4>
                    <p class="txt-sm">Trades directly settled into your wallet or bank account along with a confirmation email.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-about pr">
        <div class="container">
            <div class="content" data-aos="fade-right">
                <h2 class="title font-weight-bold">About <span>Wealify</span> OTC Desk</h2>
                <p class="txt-sm text-justify">Wealify UAB, an Estonia- licensed entity offers a secure and professional over-the-counter (OTC) desk that allows institutional clients and high net-worth individuals to purchase or sell a number of cryptocurrencies with in a real-time manner, which can not only reduce the risk of market slippage, but also get the ultra-competitive quotations and optimize capital efficiency.</p>
            </div>
            <div class="img-wrapper" data-aos="fade-left"><img src="./assets/img/cathe.png" alt=""></div>
        </div>
    </div>
    <div class="wealify-feature pb-lg">
        <div class="container">
            <div class="header">
                <h2 class="title font-weight-bold text-center">Wealify OTC Features</h2>
            </div>
            <div class="feature-list flex">
                <div class="item" data-aos="fade-up">
                    <div class="content">
                        <div class="icon"><img src="./assets/img/unparalleled.svg" alt=""></div>
                        <h4 class="txt-md mb-10">Unparalleled Liquidity</h4>
                        <p class="txt-sm">Direct access to global liquidity pools, to provide the best competitive prices.</p>
                    </div>
                </div>
                <div class="item" data-aos="fade-up" data-aos-delay="200">
                    <div class="content">
                        <div class="icon"><img src="./assets/img/service.svg" alt=""></div>
                        <h4 class="txt-md mb-10">1 on 1 Service</h4>
                        <p class="txt-sm">Dedicated service at every step from our experienced and professional account manager</p>
                    </div>
                </div>
                <div class="item" data-aos="fade-up" data-aos-delay="400">
                    <div class="content">
                        <div class="icon"><img src="./assets/img/settlement.svg" alt=""></div>
                        <h4 class="txt-md mb-10">Settlement Flexibility</h4>
                        <p class="txt-sm">Lock your desired price and settle trades to your Huobi account, your bank and/or the external wallet of your preference.</p>
                    </div>
                </div>
                <div class="item" data-aos="fade-up" data-aos-delay="600">
                    <div class="content">
                        <div class="icon"><img src="./assets/img/multiple-currencies.svg" alt=""></div>
                        <h4 class="txt-md mb-10">Multiple Currencies</h4>
                        <p class="txt-sm">Supporting trading pairs of major stablecoins and cryptocurrencies</p>
                    </div>
                </div>
                <div class="item" data-aos="fade-up" data-aos-delay="800">
                    <div class="content">
                        <div class="icon"><img src="./assets/img/service.svg" alt=""></div>
                        <h4 class="txt-md mb-10">Secure & Compliant</h4>
                        <p class="txt-sm">Wealify is a digital asset service provider compliant with regulations in multiple countries, including Lithuania and Gibraltar.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-faq pb-md">
        <div class="container">
            <div class="header" data-aos="fade-up">
                <h2 class="title font-weight-bold text-center">FAQs</h2>
            </div>
            <div class="faq-list aos-init" data-aos="fade-up" data-aos-delay="200">
                <div class="item">
                    <div class="item__header flex-lc">
                        <h4>How do I get started?</h4>
                        <i class="icon icon-more"></i>
                    </div>
                    <div class="item__content">
                        <div class="inside">
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__header flex-lc">
                        <h4>What are the minimum and maximum trading volume?</h4>
                        <i class="icon icon-more"></i>
                    </div>
                    <div class="item__content">
                        <div class="inside"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__header flex-lc">
                        <h4>What cryptocurrencies does huobi support?</h4>
                        <i class="icon icon-more"></i>
                    </div>
                    <div class="item__content">
                        <div class="inside">
                            <p>We support trading for major currencies (USD & upcoming EURO /GBP/HKD.etc) and USDT/USDC. Please contact our OTC desk with any trade inquiries via your dedicated chat room.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__header flex-lc">
                        <h4>What are my settlement options?</h4>
                        <i class="icon icon-more"></i>
                    </div>
                    <div class="item__content">
                        <div class="inside"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__header flex-lc">
                        <h4>Is there a fee?</h4>
                        <i class="icon icon-more"></i>
                    </div>
                    <div class="item__content">
                        <div class="inside"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__header flex-lc">
                        <h4>How to deposit and withdraw fiat?</h4>
                        <i class="icon icon-more"></i>
                    </div>
                    <div class="item__content">
                        <div class="inside"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__header flex-lc">
                        <h4>What is the trading hours?</h4>
                        <i class="icon icon-more"></i>
                    </div>
                    <div class="item__content">
                        <div class="inside"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-contact">
        <div class="container">
            <div class="row flex-lc">
                <div class="col-md-9">
                    <div class="header">
                        <h2 class="title txt-xl mb-10">Contact for more information</h2>
                        <p class="txt-xs">For more inquiry，please leave us a message</p>
                    </div>
                    <div class="contact-list flex">
                        <p class="txt-xs">Email: <a href="mailto:info@wealify.com">info@wealify.com</a></p>
                        <p class="txt-xs">Telegram: <span>@wealifyotc</span></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <a href="" title="Start Trading" class="btn-start btn-pr flex-center">Start Trading</a>
                </div>
            </div>
        </div>
    </div>
</main>