<main>
    <div class="wealify-intro pr">
        <div class="container">
            <div class="content">
                <div class="text" data-aos="fade-up">
                    <h1>Make your spending Smarter & Faster</h1>
                    <p>Spend less on fees, and more on growth with domestic and international business accounts, company cards, and expense management—all in one place.</p>
                </div>
                <div class="box-btn flex" data-aos="fade-up" data-aos-delay="400">
                    <a href="" title="" class="btn-pr">Open an Account</a>
                    <a href="" title="" class="btn-sub">Contact Sale</a>
                </div>
            </div>
            <div class="img-wrapper">
                <img src="./assets/img/img-decor-1.png" alt="">
            </div>
        </div>
    </div>
    <div class="wealify-tab bg-gr pr">
        <div class="container">
            <div class="header" data-aos="fade-up">
                <h2 class="title">Built for global businesses of every shape, size, and color</h2>
                <p>Discover how Wealify can help streamline your business finance operations</p>
            </div>
            <div class="tab-select">
                <ul class="tab nav">
                    <li data-aos="fade-up"><a href="#virtual" title="" class="active" data-toggle="tab">Virtual Company Card</a></li>
                    <li data-aos="fade-up" data-aos-delay="200"><a href="#payment" title="" data-toggle="tab">Payment to Supplier</a></li>
                    <li data-aos="fade-up" data-aos-delay="400"><a href="#company" title="" data-toggle="tab">Company formation</a></li>
                    <li data-aos="fade-up" data-aos-delay="600"><a href="#wealify" title="" data-toggle="tab">Wealify OTC Desk</a></li>
                </ul>
            </div>
            <div class="tab-content" data-aos="fade-up" data-aos-delay="600">
                <div id="virtual" class="tab-pane fade show active">
                    <div class="tab-pane--content row">
                        <div class="col-md-6">
                            <div class="text txt-sm">
                                <p>Wealify offers virtual card (VCC) products for convenient and flexible global payments, allowing real-time monitoring and tracking of expenses to avoid overspending. Suitable for individuals and corporations.</p>
                            </div>
                            <ul class="text-list txt-sm">
                                <li>• Many cards As in need</li>
                                <li>• Easy Top-Up with VND/USD/... Currency</li>
                                <li>• Get up to 0.4% unlimited cashback on spend</li>
                            </ul>
                            <div class="box-btn flex">
                                <a href="" title="" class="btn-pr">Learn more</a>
                                <a href="" title="" class="btn-sub">View demo</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="img-wrapper"><img src="./assets/img/card.png" alt=""></div>
                        </div>
                    </div>
                </div>
                <div id="payment" class="tab-pane fade">
                    <div class="tab-pane--content row">
                        <div class="col-md-6">
                            <div class="text txt-sm">
                                <p>Payment to partners in 150+ countries around the world. Get rid of all the hassle of doing international transactions!</p>
                            </div>
                            <ul class="text-list txt-sm">
                                <li>• Fast</li>
                                <li>• Easy</li>
                                <li>• Secure</li>
                            </ul>
                            <div class="box-btn flex">
                                <a href="" title="" class="btn-pr">Learn more</a>
                                <a href="" title="" class="btn-sub">View demo</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="img-wrapper"><img src="./assets/img/money-card.png" alt=""></div>
                        </div>
                    </div>
                </div>
                <div id="company" class="tab-pane fade">
                    <div class="tab-pane--content row">
                        <div class="col-md-6">
                            <div class="text txt-sm">
                                <p>We’ll form your company, get your EIN, and help you open your business bank account. Get your LLC started in any of the 50 states, including Wyoming or Delaware.</p>
                            </div>
                            <ul class="text-list txt-sm">
                                <li>• Fast & easy formation</li>
                                <li>• Included European and HongKong company</li>
                                <li>• Support Banking Formation</li>
                            </ul>
                            <div class="box-btn flex">
                                <a href="" title="" class="btn-pr">Learn more</a>
                                <a href="" title="" class="btn-sub">View demo</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="img-wrapper"><img src="./assets/img/key.png" alt=""></div>
                        </div>
                    </div>
                </div>
                <div id="wealify" class="tab-pane fade">
                    <div class="tab-pane--content row">
                        <div class="col-md-6">
                            <div class="text txt-sm">
                                <p>Wealify's OTC desk enables real-time cryptocurrency trading for high-value clients, with competitive pricing and improved efficiency.</p>
                            </div>
                            <ul class="text-list txt-sm">
                                <li>• 1 on 1 Service</li>
                                <li>• Multiple Currencies</li>
                                <li>• Unparalleled Liquidity</li>
                            </ul>
                            <div class="box-btn flex">
                                <a href="" title="" class="btn-pr">Learn more</a>
                                <a href="" title="" class="btn-sub">View demo</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="img-wrapper"><img src="./assets/img/globe.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-platform pr">
        <div class="container">
            <div class="row">
                <div class="col-md-6" data-aos="fade-right">
                    <div class="img-wrapper"><img src="./assets/img/img-plf.svg" alt=""></div>
                </div>
                <div class="col-md-6">
                    <h5 class="txt-sm">PLATFORM</h5>
                    <div class="header">
                        <h2 class="title">Build today, <span>win</span> tomorrow</h2>
                        <p>We’re innovating, just like you. Our global financial infrastructure is purpose-built to power the future of customer experiences and financial services.</p>
                    </div>
                    <div class="item flex">
                        <div class="icon"><img src="./assets/img/icon-dollar.png" alt=""></div>
                        <div class="content">
                            <h4 class="txt-md-r">Manage an entire transaction lifecycle</h4>
                            <p class="txt-sm">Get paid, manage funds, and pay out more efficiently across 130 countries with our powerful APIs.</p>
                        </div>
                    </div>
                    <div class="item flex">
                        <div class="icon"><img src="./assets/img/icon-safe.png" alt=""></div>
                        <div class="content">
                            <h4 class="txt-md-r">Discover new revenue opportunities</h4>
                            <p class="txt-sm">Embed solutions that enable you to monetise new channels and reinvest earnings into your core platform.</p>
                        </div>
                    </div>
                    <div class="box-btn flex">
                        <a href="" title="" class="btn-pr">Open an account</a>
                        <a href="" title="" class="btn-sub">See Feature</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-feedback">
        <div class="container">
            <div class="feedback" data-aos="fade-up">
                <div class="item">
                    <div class="text">"We’ve been growing a lot with cards internationally. Wealify has really been an enabler because it’s a global platform."</div>
                    <div class="rating flex">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="author"><span>- Mr. Frankie,</span> Founder and CEO of FADO</div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-daboard">
        <div class="container">
            <div class="header" data-aos="fade-up">
                <h2 class="title">Start building your online business today</h2>
                <div class="box-btn flex">
                    <a href="" title="" class="btn-pr flex-center">Open an Account</a>
                    <a href="" title="" class="btn-sub flex-center">View Demo</a>
                </div>
            </div>
            <div class="img-daboard"><img src="./assets/img/img-das.png" alt=""></div>
        </div>
    </div>
</main>