<main>
    <div class="box-breadcrumb container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Product</a></li>
            <li class="breadcrumb-item active">Virtual Company Card</li>
        </ul>
    </div>
    <div class="wealify-wedo">
        <div class="container">
            <div class="header">
                <h1>What can we do?</h1>
                <p class="txt-sm">Wealify provides various virtual card (VCC) products to enable multi-scene global payment, supporting corporates and individuals to make instant payment globally with flexibility,meanwhile you could monitor and track all your spending in real-time, neither un-enough nor overspend!</p>
            </div>
            <div class="banner flex-lc">
                <div class="map"><img src="./assets/img/map.png" alt=""></div>
                <div class="card"><img src="./assets/img/card-1.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="wealify-text">
        <div class="container">
            <div class="content" data-aos="fade-up">
                <h2 class="title font-weight-bold">What is VCC and how it work for Corporate Users</h2>
                <div class="text txt-sm">
                    The Virtual Company Card (VCC) is a virtual prepaid card designed to offer corporate users a seamless, multi-scene global payment solution. By successfully registering with Wealify, companies and individuals can enjoy the benefits of no issuance fees, zero transaction fees, and the ability to manage a variety of payments with ease. Furthermore, users are permitted to issue an unlimited number of virtual prepaid cards that can be utilized for a wide range of payments, such as airlines, hotels, travel agencies, e-commerce, and SAAS.
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-work pr">
        <div class="container">
            <h2 class="title font-weight-bold">How it works</h2>
            <div class="step-list flex">
                <div class="step" data-aos="fade-up">
                    <h4 class="txt-lg font-weight-bold"><span>01</span>/04</h4>
                    <div class="text txt-sm">
                        Register for Corp Account and ask for number of virtual prepaid
                    </div>
                    <div class="img-wrapper">
                        <img src="./assets/img/hw1.svg" alt="">
                    </div>
                </div>
                <div class="step" data-aos="fade-up" data-aos-delay="300">
                    <h4 class="txt-lg font-weight-bold"><span>02</span>/04</h4>
                    <div class="text txt-sm">
                        You will be issued virtual account instantly
                    </div>
                    <div class="img-wrapper">
                        <img src="./assets/img/hw2.svg" alt="">
                    </div>
                </div>
                <div class="step" data-aos="fade-up">
                    <h4 class="txt-lg font-weight-bold"><span>03</span>/04</h4>
                    <div class="text txt-sm">
                        Top-up virtual cards before spending and bind with each of different merchant/ scenario (if binding mechanism supported by merchant)
                    </div>
                    <div class="img-wrapper">
                        <img src="./assets/img/hw3.svg" alt="">
                    </div>
                </div>
                <div class="step" data-aos="fade-up" data-aos-delay="300">
                    <h4 class="txt-lg font-weight-bold"><span>04</span>/04</h4>
                    <div class="text txt-sm">
                        All spending records automatically generated and you can check on real time
                    </div>
                    <div class="img-wrapper">
                        <img src="./assets/img/hw4.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-value pb-5">
        <div class="container">
            <div class="header pr">
                <h2 class="title">Why use Wealify's VCC</h2>
                <p>Values VCC brings to your business,More than facilitating your payment</p>
            </div>
            <div class="feature-list row">
                <div data-aos="fade-up" class="col-md-4">
                    <div class="feature text-center">
                        <div class="icon"><img src="./assets/img/safe.png" alt=""></div>
                        <h4 class="txt-md">Convenience for Enabling</h4>
                        <p class="txt-sm">KYB with wealify system once only to complete registration to enable VCC activated</p>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-delay="200" class="col-md-4">
                    <div class="feature text-center">
                        <div class="icon"><img src="./assets/img/euro.png" alt=""></div>
                        <h4 class="txt-md">High Rebate Rate</h4>
                        <p class="txt-sm">No hidden fee but high rebate rate due to super volume transactions global</p>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-delay="400" class="col-md-4">
                    <div class="feature text-center">
                        <div class="icon"><img src="./assets/img/credit-card.png" alt=""></div>
                        <h4 class="txt-md">As Many cards As in need</h4>
                        <p class="txt-sm">Once company account is activated,customer could apply to un-limited number of VCCs</p>
                    </div>
                </div>
                <div data-aos="fade-up" class="col-md-4">
                    <div class="feature text-center">
                        <div class="icon"><img src="./assets/img/percent.png" alt=""></div>
                        <h4 class="txt-md">Super - Beneficial Exchange rate</h4>
                        <p class="txt-sm">Thanks to our robust partnerships with financial institutions, we can offer significantly more favorable exchange rates compared to traditional public exchange services. Additionally, you can conveniently top up your wallet using your local currency (VND/THB/CNY/...)</p>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-delay="200" class="col-md-4">
                    <div class="feature text-center">
                        <div class="icon"><img src="./assets/img/calculator.png" alt=""></div>
                        <h4 class="txt-md">Ultra Speed Payment Process</h4>
                        <p class="txt-sm">No more documents No more time-burning for payment process, almost real-time processing</p>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-delay="400" class="col-md-4">
                    <div class="feature text-center">
                        <div class="icon"><img src="./assets/img/cash.png" alt=""></div>
                        <h4 class="txt-md">Any Currency to Any Currency</h4>
                        <p class="txt-sm">20+ Mainstream currency supported for your payment</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-faq pb-md">
        <div class="container">
            <div class="header">
                <h2 class="title font-weight-bold text-center">FAQs</h2>
            </div>
            <div class="faq-list aos-init">
                <div class="item">
                    <div class="item__header flex-lc">
                        <h4>What is my VCC card and how does it work?</h4>
                        <i class="icon icon-more"></i>
                    </div>
                    <div class="item__content">
                        <div class="inside">
                            <p>You can top up directly through domestic bank transfers within your own country (VND/THB/SGD/...).</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__header flex-lc">
                        <h4>Is my card a virtual card or a hard card?</h4>
                        <i class="icon icon-more"></i>
                    </div>
                    <div class="item__content">
                        <div class="inside"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__header flex-lc">
                        <h4>How can I top up the card for use?</h4>
                        <i class="icon icon-more"></i>
                    </div>
                    <div class="item__content">
                        <div class="inside"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__header flex-lc">
                        <h4>Can I receive outside money on this card?</h4>
                        <i class="icon icon-more"></i>
                    </div>
                    <div class="item__content">
                        <div class="inside"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>