:root{
  --orange: #FF6E40;
  --black: #140000;
  --SFUTimesTenRoman: SFUTimesTenRoman, sans-serif;
}
body{
  background: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #726666;
  line-height: 21px;
  overflow-x: hidden;
  &.pr{background: #082034;}
  &::-webkit-scrollbar{width: 6px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}

html,body{scroll-behavior: smooth;}
body.modal-open {
  overflow: visible;
  padding-right: 0 !important;
}

@font-face {
  font-family: SFUTimesTenRoman;
  src: url("#{$font-path}/SFUTimesTenRoman.ttf");
}

@mixin after-btn{
  content: "";
  width: calc(100% + 2px); height: 100%;
  border-radius: 4px;
  background: linear-gradient(#d2d2d2, rgba(#d2d2d2,0));
  position: absolute; top: -1px; left: -1px; z-index: -1;
}
@mixin line{
  content: "";
  width: 1072px; height: 24px;
  background: url("#{$img-path}/line1.png") no-repeat 50% 0/contain;
  position: absolute; left: 0;
}

@mixin hover{filter: saturate(2.1); -webkit-filter: saturate(2.1);}
a{transition: .25s;}
a:hover{text-decoration: none;}

//header
header{
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #D0CCCC;
  position: fixed; z-index: 9;
  &.scroll{box-shadow: 0 2px 4px rgba(#000,.18);}
  .navbar-toggle{display: none;}
  .login{
    margin-left: auto;
    &__before{
      a,button{height: 40px; padding: 0 20px; font-weight: 600;}
      .btn-pr{box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);}
      .btn-login{color: var(--orange); margin-right: 26px;}
    }
  }
}
.navbar{
  height: 100%; width: 100%;
  min-height: 80px;
  display: flex; align-items: center; justify-content: flex-start;
  margin: 0 auto; padding: 20px 0;
  border-radius: 0; border: none;
  .logo{width: 160px;}
}

.navbar-collapse{
  padding: 0;
  justify-content: flex-start;
  .close{display: none;}
}
.navbar-nav{
  margin: 0 0 0 92px; align-items: center;
  >*+*{margin-left: 40px;}
  > li{display: flex; align-items: center; padding: 8px 0; position: relative;}
  > li > a{display: block; font-size: 14px; font-weight: 500; color: #726666; line-height: 21px; position: relative;}
  li:hover a,.active{color: var(--orange);}
  .active::after{
    content: "";
    width: 54px; height: 9px;
    background: url("#{$img-path}/active.svg") no-repeat;
    position: absolute; top: 41px; left: 50%; transform: translateX(-50%);
  }
  .show-menu{
    width: 24px; height: 24px; display: block;
    margin: 0 0 0 4px;
    background: url("#{$img-path}/arrow_down.svg") no-repeat;
    cursor: pointer;
  }
  > li:hover .sub-menu{opacity: 1; visibility: visible; transform: translateY(0); z-index: 2;}
  .sub-menu{
    width: 381px;
    padding: 16px 20px;
    background: #FFFFFF;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: absolute; left: 0; top: 40px;
    opacity: 0; visibility: hidden; transform: translateY(10px); z-index: -1; transition: .3s;
    >*+*{margin-top: 16px;}
    .icon{width: 36px; margin-top: 3px;}
    .info{width: calc(100% - 36px); padding-left: 8px;}
    p{font-weight: 500; color: var(--black); margin-bottom: 2px; line-height: 21px;}
    span{display: block; font-size: 12px; line-height: 18px; color: #726666;}
    a{padding: 10px; border-radius: 12px;}
    a:hover{background: #F5F5F5;}
  }
}
.login--mobile{display: none;}
//main
main{min-height: 78vh; padding-top: 80px;}
.wealify-intro{
  padding: 210px 0 254px;
  &::before,&::after{content: ""; position: absolute;}
  &::before{
    width: 726px; height: 567px;
    background: url("#{$img-path}/w.png") no-repeat 0 0/contain;
    left: 0; top: 107px; z-index: -1;
  }
  &::after{
    width: 100%; height: vw(29px);
    background: url("#{$img-path}/line.png") no-repeat 0 0/contain;
    bottom: 0;
  }
  h1{max-width: 871px; margin-bottom: 10px; font-weight: 700; font-size: 64px; line-height: 96px; color: var(--black);}
  p{max-width: 669px; font-size: 16px; line-height: 24px;}
  .box-btn{
    margin-top: 40px;
    >*+*{margin-left: 22px;}
    a{height: 56px;}
  }
  .content{width: 60%;}
  .img-wrapper{
    width: 946px;
    position: absolute; right: 0; top: -82px;
  }
}
.wealify-tab{
  margin: 86px auto 0;
  padding: 79px 0 135px;
  overflow: hidden;
  .container::after{
    content: "";
    width: 394px; height: 414px;
    background: url("#{$img-path}/img-decor1.svg") no-repeat 0 0/contain;
    top: 41px; right: 35px; position: absolute; z-index: -1;
  }
  .header{
    max-width: 747px; margin: 0 auto 46px; text-align: center;
  }
  .tab-select{
    overflow: auto; margin: 0 -10px 100px;
    &::-webkit-scrollbar{width: 0; height: 3px;}
  }
  .tab{
    justify-content: center; flex-wrap: nowrap; margin: 0;
    li{padding: 10px; width: 25%;}
    a{
      display: block;
      max-width: 342px;
      padding: 21.5px 0;
      color: var(--black);
      background: #FFFFFF;
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.04);
      border-radius: 8px;
      text-align: center;
      position: relative;
      &:hover{color: var(--orange);}
    }
    .active{
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16); color: var(--orange);
      font-weight: 600;
      &::after{
        content: "";
        width: 73px; height: 4px;
        background: var(--orange);
        position: absolute; left: 50%; transform: translateX(-50%); bottom: -20px;
      }
    }
  }
  .text-list{
    >*+*{margin-top: 10px;}
    li{color: var(--black);}
  }
  .text{max-width: 485px; padding-top: 10px; margin-bottom: 20px; text-align: justify;}
  .box-btn{
    margin-top: 20px;
    >*+*{margin-left: 20px;}
  }
  .btn-pr{display: inline-block; line-height: 40px; font-weight: 400;}
}
.wealify-platform{
  padding: 117px 0 139px;
  &::after{
    content: "";
    width: 670px; height: 571px;
    background: url("#{$img-path}/img-decor3.svg") no-repeat 0 0/contain;
    position: absolute; right: 0; bottom: 0; z-index: -1;
  }
  h5{margin: 145px 0 10px; color: #A19999; font-weight: 600;}
  .header{margin-bottom: 40px;}
  .item{
    margin-bottom: 20px;
    h4{margin-bottom: 10px; color: var(--black); font-weight: 500;}
    .content{flex: 1; padding-left: 16px;}
  }
  .box-btn{
    >*+*{margin-left: 20px;}
    margin-top: 40px;
  }
}
.wealify-feedback{
  .item{
    padding:  33px 104px;
    background: #FBFAFA;
    border: 1px solid #D0CCCC;
    border-radius: 24px;
  }
  .text{
    margin-bottom: 20px;
    font: 39px/54px var(--SFUTimesTenRoman);
    color: var(--black);
    text-align: center;
  }
  .rating{margin-bottom: 15px;}
  .author{
    text-align: center;
    font: 26px/36px var(--SFUTimesTenRoman);
    span{color: var(--black);}
  }
}
.wealify-daboard{
  padding: 52px 0;
  margin-top: 145px;
  background: #FBFAFA;
  .box-btn{
    justify-content: center;
    >*+*{margin-left: 20px;}
    a,button{width: 222px; height: 56px; max-width: 45%;}
  }
  .header{
    margin-bottom: 58px;
    text-align: center;
    .title{margin-bottom: 30px;}
  }
}
.wealify-wedo{
  .header{
    max-width: 1165px;
    text-align: center;
    margin: 0 auto 65px;
    h1{}
  }
  .map{width: 65%;}
  .card{width: 35%; border: none; padding-left: 3%;}
}
.wealify-text{
  margin: 42px 0 92px;
  padding: 108px 0;
  background: url("#{$img-path}/bg-wave.svg") no-repeat 0 50%;
}
.wealify-work{
  &::after{
    content: "";
    width: 240px; height: 137px;
    background: url("#{$img-path}/w-1.svg") no-repeat 0 0/contain;
    position: absolute; left: 50%; transform: translateX(-50%); top: -24px;
  }
  .step-list{
    margin-top: 40px; justify-content: space-between;
    .step{
      width: 42%; margin-bottom: 90px;
      &:nth-child(2) .img-wrapper{width: 72%;}
      &:nth-child(4) .img-wrapper{width: 70%;}
    }
    h4{
      margin-bottom: 10px; color: #D0CCCC;
      span{color: var(--orange);}
    }
    p{color: var(--black);}
    .text{min-height: 81px; margin-bottom: 10px; color: var(--black);}
  }
}
.wealify-value{
  margin: 90px 0 0;
  .header{
    margin-bottom: 132px; text-align: center;
    &::after{
      content: "";
      width: 522px; height: 468px;
      background: url("#{$img-path}/graphic.svg") no-repeat 0 0/contain;
      position: absolute; left: 50%; transform: translateX(-50%); top: -45px; z-index: -1;
    }
  }
  .feature{
    margin-bottom: 80px;
    p{max-width: 420px; margin: 0 auto;}
  }
  .icon,h4{margin-bottom: 10px;}
  h4{color: var(--black);}
  .icon img{display: block; margin: 0 auto;}
}
.wealify-faq{
  .item{
    background: #FFFFFF;
    padding: 10px 0;
    border-bottom: 1px solid #D0CCCC;
    &.show{
      .item__content{max-height: 500px; overflow: auto;}
      .icon-more{
        width: 24px; height: 24px;
        background: url("#{$img-path}/remove.svg") no-repeat center center;
      }
    }
    &__header{padding: 17px 0; cursor: pointer; color: var(--black);}
    &__content{
      font-size: 16px; line-height: 24px;
      max-height: 0;
      transition: max-height .4s;
      overflow: hidden;
      .inside{padding: 21px 0;}
    }
    h4{padding-right: 10px; font-weight: 500; font-size: 20px; line-height: 30px; flex: 1;}
    .icon-more{
      width: 24px; height: 24px;
      background: url("#{$img-path}/add.svg") no-repeat;
      margin-left: auto;
    }
  }
}
.wealify-intro-desk{
  padding: 87px 0 200px;
  .content{width: 60%; max-width: 670px;}
  .img-wrapper{max-width: 993px; position: absolute; top: -150px; right: 0;}
  h1{
    font-size: 64px; line-height: 96px;
    span{color: var(--orange);}
  }
  .note a{color: var(--orange); text-decoration: underline;}
  .btn-start{width: 278px; height: 56px; margin: 40px 0 20px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);}
}
.wealify-procedure{
  margin: 0 auto;
  padding: 97px 0;
  overflow: hidden;
  .header{margin-bottom: 60px;}
  .procedure-list{
    margin: 0 -30px;
    .icon{width: 80px; margin: 0 auto 10px;}
    .item{width: 25%; padding: 0 30px; text-align: center;}
    h4{color: var(--black);}
  }
}
.wealify-about{
  padding: 176px 0 206px;
  .content{
    width: 49.4%;
    padding-bottom: 212px;
    border-bottom: 2px dashed #FF6E40;
  }
  .img-wrapper{width: 54%; position: absolute; top: -16%; right: 30px;}
}
.wealify-feature{
  .header{margin-bottom: 60px;}
  .feature-list{margin: 0 -10px;}
  .item{padding: 0 10px; width: 20%;}
  .content{
    height: 100%;
    padding: 20px 10px;
    text-align: center;
    background: #FBFAFA;
    border: 1px solid #D0CCCC;
    border-radius: 32px;
  }
  h4{color: var(--black);}
  .icon{width: 80px; margin: 0 auto 10px;}
}
.wealify-contact{
  padding: 86px 0 112px;
  border-bottom: 1px solid #E8E6E6;
  background:var(--black) url("#{$img-path}/decor.svg") no-repeat right bottom;
  .container::before{
    content: "";
    width: 707px; max-width: 90%;
    border: 1.5px dashed #FF6E40;
    display: block;
  }
  h2.title{margin-top: 24px; color: #fff;}
  .header p{color: #fff;}
  .contact-list{
    margin: 40px 0 0; color: #fff;
    >*+*{margin-left: 80px;}
    a,span{color: var(--orange); font-weight: 700;}
  }
  .btn-start{width: 278px; height: 56px; max-width: 100%; margin: 0 auto;}
}
.wealify-about-us{
  padding: 90px 0;
  &::after{@include line; bottom: 98px;}
  .content{
    padding: 77px 0 160px;
  }
  .img-wrapper{margin-right: -54px;}
}
.wealify-partners{
  padding-bottom: 180px;
  &.line{background: url("#{$img-path}/line.svg") no-repeat bottom center/contain;}
  .partner-list{margin: 0 -10px;}
  .slick-track{display: flex;}
  .row{
    margin-left: -10px; margin-right: -10px;
    .col-md-3,.col-lg-3{padding: 0 10px; margin: 0 0 20px;}
    .item{
      margin: 0; height: 100%;
      display: flex; flex-direction: column; align-items: center;
    }
    .message{flex: 1 1 auto;}
  }
  .item{
    height: inherit;
    margin: 0 10px;
    padding: 40px 20px;
    background: #FBFAFA;
    border: 1px solid #D0CCCC;
    border-radius: 32px;
    text-align: center;
  }
  .avatar{
    width: 80px; height: 80px;
    img{width: 100%; height: 100%; border-radius: 50%; object-fit: cover;}
  }
  .name{min-height: 54px; display: flex; align-items: center;}
  .slick-arrow{
    width: 60px; height: 60px;
    background: #A19999 url("#{$img-path}/next.svg") no-repeat center center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
    border-radius: 50%;
    font-size: 0;
    position: absolute; top: 50%; transform: translateY(-50%); z-index: 8;
    &:hover{background: #FF6E40 url("#{$img-path}/next.svg") no-repeat center center;}
  }
  .slick-next{right: -110px;}
  .slick-prev{left: -110px; transform: translateY(-50%) rotate(180deg);}
}
.wealify-us{
  padding: 100px 0 175px;
  .grid-template{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
  }
  .item{
    padding: 40px; color: #fff; border-radius: 32px;
    &:nth-child(1),&:nth-child(6){background: #BF5330;}
    &:nth-child(2),&:nth-child(5){background: #FF6E40;}
    &:nth-child(3),&:nth-child(4){background: #FF8B66;}
  }
  h4{font-size: 24px; line-height: 36px; font-weight: 600;}
}
.wealify-branch{
  padding: 68px 0 148px;
  &::after,&::before{content: ""; position: absolute; z-index: -1;}
  &::after{
    width: 100%; height: 100%;
    background: linear-gradient(105.42deg, rgba(20, 0, 0, 0.11) -3.07%, rgba(114, 102, 102, 0.11) 49.04%, rgba(208, 204, 204, 0.11) 97.84%);
    opacity: 0.4;
    top: 0; left: 0;
  }
  &::before{
    width: 265px; height: 297px;
    background: url("#{$img-path}/img-decor2.svg") no-repeat 0 0/contain;
    top: 63px;
    right: 101px;
  }
  .header{margin-bottom: 100px;}
  .branch-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
  }
  .branch{
    padding-bottom: 20px;
    border-bottom: 1px solid #FF6E40;
  }
  a:hover{color: var(--orange);}
}
.wealify-flag{
  .flag-list{margin: 0 -20px 90px;}
  .flag{
    margin: 0 20px;
    padding: 16px 17px 32px;
    background: #E8E6E6;
    border-radius: 24px;
    transition: .25s;
    opacity: .4;
    &__text{
      margin: 23px 0 45px;
      color: #A19999;
      text-align: center;
    }
    .btn-setup{
      font-weight: 600;
      line-height: 1;
      border-bottom: 1px solid currentColor;
    }
    &.slick-center{
      opacity: 1;
      background: #433333;
      .company__support{color: #fff;}
      .btn-setup{color: var(--orange);}
    }
  }
  .slick-dots{
    display: flex; justify-content: center;
    margin-top: 52px;
    li{margin: 0 10px;}
    button{
      width: 40px; height: 6px;
      padding: 0;
      background: #D9D9D9;
      border-radius: 4px;
      font-size: 0;
    }
    .slick-active button{background: var(--orange);}
  }
  .text{max-width: 1165px; margin: 0 auto; font-size: 18px; line-height: 27px;}
  .btn-contact{width: 268px; height: 56px; margin: 20px auto 0;}
}
.wealify-news{
  .row{margin-left: -10px; margin-right: -10px;}
  .col-md-3,.col-lg-3{
    padding: 0 10px; margin-bottom: 20px;
  }
  .post{
    height: 100%;
    padding: 20px;
    background: #FBFAFA;
    border: 1px solid #D0CCCC;
    border-radius: 32px;
    &__thumb{
      display: block; height: 172px; overflow: hidden;
      img{ border-radius: 16px; }
    }
    h3 a:hover{color: var(--orange);}
    p{
      width: 47%; height: calc(100% + 1px);
      background: var(--orange);
      padding: 0 16px 0 36px;
      border-radius: 0 14px 14px 0;
      position: absolute; right: 0; top: 0;
      clip-path: polygon(24% 0, 80% 0%, 100% 0, 100% 80%, 100% 100%, 22% 100%, 0 100%, 0 100%);
    }
    span{color: #fff;}
  }
}
.wealify-message{
  .title{max-width: 630px;}
  .content{
    max-width: 707px;
    padding-bottom: 110px;
    border-bottom: 2px dashed #FF6E40;
  }
  .img-wrapper{
    img{display: block; margin-left: auto;}
  }
}
.wealify-formation{
  .content{max-width: 600px;}
  .row{
    margin-left: -10px; margin-right: -10px;
    .col-md-6,.col-md-3{padding: 0 10px;}
    .col-md-3{margin: 5px 0;}
  }
  .item{
    height: 100%;
    flex-direction: column;
    padding: 30px 10px;
    background: #FBFAFA;
    border: 1px solid #D0CCCC;
    border-radius: 24px;
    text-align: center;
    font-size: 18px; line-height: 27px;
    color: #000;
    span{display: block;}
  }
}
.wealify-support{
  .item{
    width: 32%;
    max-width: 438px;
    margin: 0 auto;
    padding: 20px;
    background: #FBFAFA;
    border: 1px solid #D0CCCC;
    border-radius: 20px;
    p{max-width: 313px; margin: 0 auto;}
  }
}
.wealify-looking{
  .looking-list{margin: 0 -10px;}
  .item{padding: 0 10px; width: 33.33%;}
}
.wealify-authority{
  padding: 60px 0 0;
  .logo{padding: 23px 0;}
  .box-tab{
    max-width: 950px; margin: 0 auto;
    padding-bottom: 40px;
    background: #FFFFFF;
    border: 1px solid #D0CCCC;
    border-radius: 32px;
  }
  .table-price{
    max-width: 950px; margin: 0 auto;
    .time{padding-right: 36px; background: url("#{$img-path}/calendar.svg") no-repeat right center}
  }
  .tab{
    border-top: 1px solid #D0CCCC;
    li{width: 50%;}
    > *+* a{border-left: 1px solid #D0CCCC;}
    a{
      display: block; background: #F5F5F5;
       padding: 15px; border-bottom: 1px solid #D0CCCC; text-align: center; color: #726666;
       white-space: nowrap; text-overflow: ellipsis; overflow: hidden;
      }
    .active{border-bottom: none; background: none; font-weight: 600; color: var(--orange);}
  }
  .tab-content{padding: 0 12px;}
  label{display: block; margin-bottom: 4px;}
  .val{
    font-size: 20px; font-weight: 500; line-height: 20px; color: var(--black);
    span{margin-left: 2px; font-size: 16px; color: #726666;}
  }
  form{max-width: 465px; margin: 0 auto;}
  .form-group{
    margin-bottom: 10px;
    &--sub{
      display: flex;
      border-radius: 12px;
      border: 1px solid #D0CCCC;
      input{border: none;}
      .select2-container{border: none;}
      .select2-container--default .select2-selection--single .select2-selection__rendered{min-width: 90px; padding: 0; font-weight: 500;}
    }
  }
  input,select{
    width: 100%; height: 52px; padding: 0 20px; border: 1px solid #D0CCCC;
    border-radius: 12px;
    font-size: 20px; line-height: 30px;
    &:focus{outline: none;}
  }
  .btn-change{
    width: 60px; height: 60px;
    background: url("#{$img-path}/btn-change.svg") no-repeat 0 0/contain;
    &:hover{@include hover;}
  }
  .box-btn{
    margin-top: 20px;
    >*+*{margin-left: 4%;}
    a,button{height: 56px; width: 222px; max-width: 48%;}
  }
  table{
    th,td{
      padding: 14px 10px; font-size: 20px; line-height: 30px; text-align: center;
      border-right: 1px solid #D0CCCC;
      border-bottom: 1px solid #D0CCCC;
      &:last-child{border-right: none;}
    }
    th{font-weight: 600;}
    span{color: #726666; font-weight: 500; font-size: 16px; text-transform: uppercase;}
    td{font-weight: 500;}
    tr td:first-child{font-weight: 400;}
    tr:last-child td{ border-bottom: none;}
    .icon{margin-left: 8px;}
    
  }
  .chart{
    margin: 120px 0 80px;
    .price{margin-left: 16px;}
    .down{color: #FF3B30;}
    .up{color: #34C759;}
  }
  .token-info{
    margin-left: auto;
    .icon{width: 10px; height: 10px; background: #34C759; border-radius: 50%;}
    p span{font-weight: 400;}
  }
}
.wealify-table{
  padding-bottom: 66px;
  .row{margin-left: -10px; margin-right: -10px;}
  .col-md-6{padding: 0 10px;}
  .title{margin-bottom: 20px;}
  table{
    th{
      font-weight: 400; text-align: center;
      &:first-child{text-align: left;}
      span{margin-bottom: 2px; display: block; line-height: 18px;}
      p{font-size: 16px; font-weight: 500;}
      .icon{margin-left: 4px; width: 16px; height: 16px;}
    }
    span{display: block; color: #726666; font-weight: 400;}
    th,td{
      padding: 12px 20px;
      border-right: 1px solid #D0CCCC;
      border-bottom: 1px solid #D0CCCC;
      &:last-child{border-right: none;}
    }
    tr:last-child td{ border-bottom: none;}
    td{
      text-align: right; font-weight: 500;
      p, span{line-height: 20px;}
    }
    .coin{
      &__info{padding-left: 12px; text-align: left;}
      p{margin-bottom: -1px; font-weight: 500;}
    }
    .price,.txt{
      justify-content: flex-end;
      span{font-size: 10px; margin-left: 2px; font-weight: 500;}
    }
    .currency{
      color: var(--orange);
      span{padding: 0 4px; color: var(--orange);}
    }
    
    .down{color: #FF3B30;}
    .up{color: #34C759;}
    
  
  }
  .table-xs{
    th{background: #F5F5F5; font-weight: 600;}
    th:first-child{text-align: center;}
    th,td{text-align: center; font-size: 20px; line-height: 28px;}
    td{font-weight: normal;}
    .icon{margin: 0 auto;}
  }
}

.box-table{
  border: 1px solid #D0CCCC;
    border-radius: 32px;overflow: auto;
  .table-content{}
  table{width: 100%; border-collapse: collapse; color: #140000;}
  .table-fw{min-width: 840px;}
  .icon{width: 24px; height: 24px; display: block;}
  .icon-up{background: url("#{$img-path}/arrow-up.svg") no-repeat 0 0/contain;}
  .icon-down{background: url("#{$img-path}/arrow-down.svg") no-repeat 0 0/contain;}
}
.rating{
  justify-content: center;
  span{
    width: 55px; height: 41px;
    background: url("#{$img-path}/star.png") no-repeat 0 0/contain;
    &.no{background: url("#{$img-path}/star-1.png") no-repeat 0 0/contain;}
  }
}
.page-home{
  footer{
    &::after{display: block;}
    >.container{display: block;}
  }
}
footer{
  background: #fff;
  position: relative;
  &::after{@include line; top: 281px; display: none;}
  >.container{padding: 88px 15px 0; display: none;}
  h4{margin-bottom: 20px; font-size: 14px; color: var(--orange); font-weight: 600; line-height: 21px;}
  .link{
    >*+*{margin-top: 20px;}
    a{color: var(--black);}
    a:hover{color: var(--orange);}
  }
  .logo{
    width: 160px; display: block; margin-left: 115px;
    &::after{
      content: "";
      display: block; width: 100px; height: 28px;
      background: url("#{$img-path}/cham.svg") no-repeat 0 0/contain;
      margin-top: 42px;
    }
  }
  .text{
    padding: 94px 0 71px 115px;
    >*+*{margin-top: 24px;}
  }
  .bottom{
    padding: 30px 0;
    background: var(--black);
    .menu{
      >*+*{margin-left: 20px;}
      a{color: #fff;}
      a:hover{color: #ccc;}
    }
    .copyright{
      margin-left: auto;
      color: #fff;
    }
  }
}

//custom hightchart
.highcharts-tick,.highcharts-axis-line{stroke: #726666;}
.highcharts-grid-line{stroke: #726666;}
.highcharts-credits,.highcharts-scrollbar{display: none;}
.highcharts-button-box{
  border: 1px solid #D0CCCC;
  border-radius: 8px;
  background: none;
}
.tooltip-box{
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  .highcharts-label-box{
    stroke: none; stroke-width: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
    border-radius: 12px;
  }
}
.highcharts-range-selector-buttons{
  transform: translateX(-40px);
}
.highcharts-button{width: 76px; height: 40px;}

//uikit
.pr{position: relative;}
.pa{position: absolute;}
li{list-style: none;}
.bg-sh{
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
}
.text-justify{text-align: justify;}
.mb-10{margin-bottom: 10px;}
.mb-20{margin-bottom: 20px;}
.mb-md{margin-bottom: 60px;}
.pb-lg{padding-bottom: 116px;}
.mb-lg{margin-bottom: 120px;}
.mt-lg{margin-top: 120px;}
.pb-md{padding-bottom: 90px;}
.pt-md{padding-top: 90px;}
.my-20{margin-top: 20px; margin-bottom: 20px;}
.bg-gr{
  width: 1678px;
  max-width: 92%;
  border-radius: 40px;
  &::after,&::before{content: ""; position: absolute; z-index: -1;}
  &::before{
    width: 100%; height: 100%;
    background: linear-gradient(105.42deg, rgba(20, 0, 0, 0.11) -3.07%, rgba(114, 102, 102, 0.11) 49.04%, rgba(208, 204, 204, 0.11) 97.84%);
    opacity: .4;
    top: 0; left: 0;
    border-radius: 40px;
  }
  &::after{
    width: 100%; height: 100%; border: 1px solid rgba(#FF6E40,.4); border-radius: 40px;
    top: 0; left: -1px;
  }
}
.header{
  p{font-size: 16px; line-height: 24px;}
}
h1{color: var(--black); margin-bottom: 10px; font-weight: 700; font-size: 40px; line-height: 60px;}
.title{
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: var(--black);
  span{color: var(--orange);}
}
.center{text-align: center;}
.img-fit{width: 100%; height: 100%; object-fit: cover;}
.txt-xs{font-size: 16px; line-height: 24px;}
.txt-sm{font-size: 16px; line-height: 24px;}
.txt-md{font-size: 20px; line-height: 30px; font-weight: 600;}
.txt-md-r{font-size: 20px; line-height: 30px;}
.txt-lg{font-size: 40px; line-height: 60px;}
.txt-xl{font-size: 64px; line-height: 96px; font-weight: 700;}
.txt-black{color: var(--black);}
button{
  background: none; padding: 0; cursor: pointer; border: none; transition: .25s;
  &:focus{outline: none;}
}
.btn-pr,.btn-sub{
  display: flex; align-items: center;
  height: 40px; padding: 0 20px;
  font-size: 14px; line-height: 21px;
}
.btn-pr{
  background: var(--orange);
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  &:hover{background: #BF5330; color: #fff;}
}
.btn-sub{
  background: #FFFFFF;
  border: 1px solid #D0CCCC;
  border-radius: 8px;
  color: var(--orange);
  &:hover{color: currentColor; background: #D0CCCC;}
}
.breadcrumb{
  padding: 27.5px 0; background: none; margin-bottom: 0;
  a{font-weight: 500; color: #726666;}
  .active{font-weight: 700; color: var(--black);}
  .breadcrumb-item + .breadcrumb-item::before{font-weight: 400; padding-right: .1rem;}
  .breadcrumb-item + .breadcrumb-item{padding-left: .1rem;}
}
.check-list{
  li{position: relative; padding-left: 26px;}
  li::before{
    content: "";
    width: 4px; height: 4px;
    background: #726666; border-radius: 50%;
    position: absolute; left: 10px; top: 10px;
  }
}
.slick-dots{
  display: flex; justify-content: center; margin-top: 50px;
  li{margin: 0 10px;}
  button{
    width: 40px;
    height: 6px;
    background: #D9D9D9;
    border-radius: 4px;
    font-size: 0;
  }
  .slick-active button{background: var(--orange);}
}

//custom select2.min.js
.select2-container{
  background: #fff;
  border: 1px solid #D0CCCC;
  border-radius: 12px;
  &:focus{outline: none;}
}
.selection,.select2-selection{
  &:focus{outline: none;}
}
.select2-container .select2-selection--single .select2-selection__rendered{
  padding-left: 20px;
  color: var(--black);
  font-size: 20px;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{border-radius: 12px;}
.select2-container .select2-selection--single{height: 52px; width: 100%;}
.select2-container--default .select2-selection--single{border: none; background: none;}
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 52px;}
.select2-container--default .select2-selection--single .select2-selection__arrow{height: 50px; width: 40px;}
.select2-search--dropdown{display: none;}
.select2-container--default .select2-results__option--selected{background: #e0e0e0 !important; color: var(--blue) !important;}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{background: none; color: #212121;}
.select2-container--default .select2-results__option:hover{background: #efefef; color: #212121;}
.select2-container--open .select2-dropdown--below{
  padding: 15px;
  margin-top: 4px;
  background: #fff;
  box-shadow: 1px 4px 24px rgba(209, 209, 209, 0.25);
  border-radius: 8px;
  border: 1px solid #D5D5D7;
}
.select2-container--default .select2-results > .select2-results__options{
  padding: 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  border-width: 0;
  width: 24px; height: 24px;
  background: url("#{$img-path}/arr.svg") no-repeat 0 0/contain;
  top: 54%; transform: translate(-50%,-50%); left: 45%;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
  border-width: 0;
  transform: translate(-50%,-50%) rotate(180deg);
}
.select2-container--default .select2-results>.select2-results__options{
  padding: 0; background: #fff; border-radius: 8px;
  >*+*{margin-top: 16px;}
  overflow: auto;
  &::-webkit-scrollbar{width: 3px;}
  &::-webkit-scrollbar-track{background: #fcfcfc;}
  &::-webkit-scrollbar-thumb{background: #ccc;}
}
.select2-results__option{
  padding: 0;
  font-size: 15px;
  line-height: 20px;
  color: #4E4C50
}
.select2-container--default .select2-results__option[aria-selected=true]{background: none;}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
  padding-right: 18px;
  background: url("#{$img-path}/tick.svg") no-repeat right center;
  color: #140000; font-weight: 500;
}

@media (min-width: 992px){
  .container {max-width: 1140px;}
}

@media (min-width: 1520px) {
  .container{max-width: 1465px;}
  .container-fuild{max-width: 1678px;}
}

@media (max-width: 1680px) {
  .wealify-intro{
    .img-wrapper{right: -7%;}
  }
  .wealify-partners{
    .slick-next{right: -60px;}
    .slick-prev{left: -60px;}
  }
}

@media (max-width: 1520px) {
  .wealify-intro-desk{
    .img-wrapper{max-width: 55%; top: -15%; right: -4%;}
  }
  .wealify-about{
    .img-wrapper{width: 60%; top: -11%; right: -5%}
  }
  .wealify-intro{
    padding: 150px 0;
    &::before{
      width: 650px; height: 508px; top: 60px;
    }
    .img-wrapper{max-width: 56%; top: -13%; right: -5%;}
    .content{max-width: 55%;}
    h1{max-width: 100%; font-size: 54px; line-height: 76px;}
  }
}
@media (max-width: 1440px) {
  .wealify-feedback{
    .text{font-size: 32px; line-height: 44px;}
  }
  .wealify-tab{
    padding: 60px 0;
    .tab-select{margin-bottom: 60px;}
  }
  .wealify-procedure{padding: 70px 0;}
  .wealify-about{
    padding: 125px 0 160px;
    .content{padding-bottom: 170px;}
    .img-wrapper{top: -16%;}
  }
  .wealify-platform{
    padding: 87px 0px 109px;
    &::after{width: 530px; height: 440px;}
  }
  .wealify-daboard{margin-top: 115px;}
  .wealify-flag{
    .flag-list{margin: 0 -10px 90px;}
    .flag{margin: 0 10px;}
  }
  .wealify-about-us{
    .content{padding: 20px 0 130px;}
  }
  .wealify-partners{
    .rating span{width: 42px; height: 31px;}
  }
  .wealify-us{padding: 80px 0 135px}
  .wealify-branch{padding-bottom: 118px;}
  .txt-xl{font-size: 58px; line-height: 82px;}
}
@media (max-width: 1024px) {
  header{
    .navbar-toggle{display: block; position: absolute; right: 0;}
    .login{
      width: 100%; display: none;
      position: absolute; bottom: -52px;
      &__before{
        justify-content: space-between;
        button{padding-left: 0;}
      }
    }
  }
  .navbar{
    width: 100%; padding: 16px 0; min-height: auto; justify-content: flex-start;
    .logo{width: 113px;}
  }
  .navbar-collapse{
    display: flex; flex-direction: column;
    align-items: flex-start;
    position: fixed; top: 53px; left: -100%;
    width: 100%; height: calc(100% - 54px);
    padding: 0;
    background: #fff;
    transition: all .4s ease-out;
    z-index: 91; overflow: auto;
    &.show{left: 0; border-top: 1px solid #ccc;}
  }
  .navbar-toggle{
    display: block;
    width: 18px;
    height: 12px;
    padding: 0;
    background: none; border: none;
    span{
      display: block; width: 18px; height: 2px; border-radius: 2px;
      background: #1C1B1F; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 18px; height: 2px; background: #1C1B1F; position: absolute; border-radius: 2px;
    }
    span:before{top: -6px;}
    span:after{bottom: -6px;}
  }
  .navbar-toggle.active{
    z-index: 99;
    span{width: 18px; transform: rotate(45deg);}
    span:after{width: 16px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar-nav{
    width: 100%;
    display: block;
    margin: 0;
    padding: 25px;
    >*+*{margin: 30px 0 0;}
    > li > a{line-height: inherit;}
    .active::after{display: none;}
    .sub-menu{max-width: 100%;}
  }
  .login--mobile{
    display: block;
    padding: 0 15px; width: 100%;
    position: absolute; top: 66px; z-index: 2;
    .login__before{display: flex; justify-content: space-between;}
    .btn-login{color: var(--orange); font-weight: 600;}
    .btn-pr{box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16); }
  }
  main{padding-top: 54px; overflow: hidden;}

  .wealify-intro{
    .img-wrapper{top: 0;}
    h1{font-size: 40px; line-height: 52px;}
  }
  .wealify-intro-desk{
    .img-wrapper{top: 0;}
  }
  .wealify-about{
    .img-wrapper{top: 0;}
  }
  .wealify-partners{
    .partner-list{margin: 0; padding: 0 15px;}
    .slick-arrow{width: 40px; height: 40px;}
    .slick-next{right: 0;}
    .slick-prev{left: 0;}
  }
  .wealify-us{
    h4{font-size: 20px; line-height: 30px;}
  }
  .wealify-branch{
    &::before{width: 168px; height: 189px; top: 6px; right: 16px;}
  }
  .wealify-authority{
    padding-top: 80px;
    .tab a{padding: 17px 14px; font-size: 16px; line-height: 24px;}
    label,input{font-size: 16px;}
    input,select{padding: 0 16px; height: 44px;}
    table{
      th{font-size: 16px; line-height: 24px;}
      th,td{padding: 12px 7px;}
      td{font-size: 12px; line-height: 20px;}
      span{font-size: 10px;}
      td:first-child{font-size: 14px;}
      .icon{margin-left: 2px;}
      p{white-space: nowrap;}
      .flex-center{flex-wrap: nowrap;}
    }
    .table-price .time{font-size: 14px; line-height: 21px;}
    .chart{
      margin: 40px 0 0;
      .header p{font-size: 14px;}
    }
  }
  .box-table{
    border-radius: 16px;
    .icon{width: 16px; height: 16px;}
    .table-fw{min-width: 740px;}
  }
  .box-breadcrumb{
    padding-top: 52px;
  }
  .rating{
    span{width: 45px; height: 34px;}
  }
  .container{max-width: 100%;}
  .select2-container .select2-selection--single{height: 44px;}
  .select2-container .select2-selection--single .select2-selection__rendered{padding-left: 16px; font-size: 16px;}
  .select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 44px;}
}

@media (max-width: 820px) {
  .navbar-toggler{margin-left: 0;}
  //main
  .wealify-intro{
    padding: 80px 0;
    &::before{top: 50px;}
  }
  .wealify-tab{
    .tab{
      li{width: 33.3%;}
      .active::after{bottom: -13px;}
    }
  }
  .wealify-platform{
    h5{margin-top: 45px;}
  }
  
  .wealify-intro-desk,.wealify-about{
    .img-wrapper{top: 0;}
  }
  .wealify-feature{
    .item{width: 33.3%; margin-bottom: 30px;}
  }
  .wealify-flag{
    .flag-list{margin: 0 -5px 44px;}
    .flag{margin: 0 5px; padding: 12px 12px 20px;}
    .slick-dots{
      li{margin: 0 5px;}
      button{width: 35px;}
    }
    .text{font-size: 16px; line-height: 24px;}
  }
  footer{
    .logo{margin-left: 0;}
    .text{padding-left: 0;}
  }

  .txt-lg{font-size: 36px; line-height: 52px;}
  .txt-xl{font-size: 52px; line-height: 1.3;}
  .pt-md{padding-top: 44px;}
  .pb-lg{padding-bottom: 75px;}
}

@media (max-width: 768px) {
  .wealify-intro{
    padding: 80px 0 54px;
    &::before{width: 460px; height: 359px;}
    h1{margin-bottom: 4px; font-size: 36px;}
    .content{max-width: 55%; width: 55%;}
    .img-wrapper{margin: 0 auto; right: 0; max-width: 50%; width: 50%;}
    .box-btn{margin-top: 20px;}
  }
  .wealify-tab{
    margin-top: 44px;
    max-width: 100%; border-radius: 0;
    &::before,&::after{border-radius: 0; border: none;}
    &::before{opacity: 1;}
    .container::after{
      width: 237px; height: 249px; top: 39px; right: -50px;
    }
    .text{max-width: 100%;}
    .tab-pane--content{flex-direction: column-reverse;}
    .img-wrapper{margin: 0 0 10px; max-width: 56%;}
    .header{margin-bottom: 10px;}
    .tab-select{margin: 0 -15px 30px -10px;}
    .tab{
      justify-content: flex-start;
      li{width: inherit; padding: 14px 10px;}
      a{padding: 21.5px 20px; white-space: nowrap;}
    }
  }
  .wealify-platform{
    padding: 60px 0;
    h5{margin: 0 0 4px;}
    .icon{margin-top: 5px;}
  }
  .wealify-feedback{
    .item{padding: 24px 16px;}
    .text{font-size: 20px; line-height: 24px;}
    .author{font-size: 14px; line-height: 17px;}
  }
  .wealify-daboard{
    margin-top: 0px;
    padding: 44px 0;
    background: #fff;
    .header{margin-bottom: 20px;}
    .box-btn{
      a,button{width: auto; max-width: 50%; height: 40px;}
    }
    .img-daboard img{min-height: 346px; object-fit: cover; object-position: top left;}
  }
  
  .wealify-intro-desk{
    .container{display: flex; flex-direction: column;}
    .content{order: 2; width: 100%;}
    .img-wrapper{position: relative; top: 0; right: 0; order: 1;}
  }
  .wealify-intro-desk{
    padding: 0 0 44px;
    .container{display: flex; flex-direction: column;}
    h1{font-size: 36px; line-height: 1.3;}
    .img-wrapper{max-width: 90%; margin: -16% auto;}
    
  }
  .wealify-about{
    padding: 44px 0;
    .img-wrapper{width: 100%; margin: -15% auto; position: relative; right: 0;}
    .content{
      padding-bottom: 0; width: 100%; border-bottom: none;
      &::after{
        content: "";
        width: 172px; height: 2px;
        border-bottom: 2px dashed var(--orange);
        margin-top: 12px;
        display: block;
      }
    }
  }
  .wealify-procedure{
    padding: 32px 0;
    .procedure-list{
      margin: 0 -15px;
      .item{width: 50%; padding: 0 10px; margin-bottom: 60px;}
      .item:last-child{margin-bottom: 0;}
    }
  }
  .wealify-feature{
    .item{width: 100%;}
  }
  .wealify-faq{
    .header{margin-bottom: 16px;}
    .item{
      &__header{padding: 10px 0;}
      &__content .inside{padding: 10px 0;}
      h4{font-size: 16px; line-height: 24px;}
    }
  }
  .wealify-text{
    padding: 60px 0;
    margin: 36px 0;
    background-size: cover;
  }
  .wealify-value{
    margin: 12px 0 10px;
    .feature{margin-bottom: 36px; padding: 0 17px;}
    .header{
      margin-bottom: 40px;
      &::after{width: 376px; height: 337px; top: -10px;}
    }
    .icon img{width: 72px;}

  }
  .wealify-wedo{
    .map{width: 100%;}
    .card{width: 65%; padding-left: 0; margin: 20px auto 0;}
    .header{margin-bottom: 36px; padding: 0 16px;}
  }
  .wealify-work{
    .step-list{
      h4{margin-bottom: 4px;}
      .step{
        width: 100%; margin-bottom: 32px;
        &:nth-child(2),&:nth-child(4){
          .img-wrapper{width: 100%;}
        }
      }
      .text{min-height: auto; margin-bottom: 22px;}
    }
  }
  .wealify-contact{
    padding: 32px 0 24px;
    h2.title{margin: 16px 0 10px; font-size: 20px;}
    .header{
      p{font-size: 12px; line-height: 18px;}
    }
    .contact-list{
      display: block; margin-top: 22px;
      >*+*{margin: 6px 0 0;}
      p{font-size: 12px; line-height: 18px;}
    }
    .btn-start{}
  }
  .wealify-about-us{
    padding: 80px 0 50px;
    &::after{width: 100%; bottom: 34px;}
    .row{flex-direction: column;}
    .col-md-5{order: 1; max-width: 100%;}
    .col-md-7{order: 2; max-width: 100%;}
    .img-wrapper{
      margin: 0 0 20px;
      img{margin: 0 auto; max-width: 90%;}
    }
    .content{padding: 0 1px 54px;}
  }
  .wealify-us{
    padding: 44px 0;
    .grid-template{grid-template-columns: repeat(2,1fr);}
  }
 
  .wealify-branch{
    padding: 20px 0 60px;
    .header{margin-bottom: 70px;}
    .branch-list{grid-template-columns: repeat(2,1fr);}
  }
  .wealify-faq{
    .item{padding: 8px 0;}
  }
  .wealify-authority{
    .token-info{width: 100%; margin: 20px 0 10px; margin-left: 0;}
  }
  .wealify-table{
    padding-bottom: 30px;
    table{
      th,td{padding: 5px 12px;}
      th p{font-size: 14px;}
      th span{font-size: 12px;}
    }
    .table-xs{
      th,td{padding: 13px; font-size: 16px; line-height: 24px;}
    }
  }
 
  footer{
    &::after{
      width: 416px; height: 12px;
      left: -48%; top: 82px;
    }
    .container{padding-top: 0;}
    .logo::after{margin: 12px 0 48px;}
    .text{
      padding: 24px 0 44px;
    }
    .link >*+*{margin-top: 16px;}
    .bottom{
      padding: 16px 0;
      font-size: 12px; line-height: 18px;
      .container{justify-content: center;}
      .copyright{width: 100%; margin: 8px 0 0; text-align: center;}
    }
  }

  .mb-md{margin-bottom: 36px;}
  .title{margin-bottom: 4px; font-size: 24px; line-height: 1.5;}
  .txt-lg{font-size: 24px; line-height: 36px;}
  .mb-lg{margin-bottom: 40px;}
  .highcharts-range-selector-buttons{transform: translateX(0);}
}

@media (max-width: 640px) {
  .wealify-tab{
    padding: 20px 0;
    .img-wrapper{display: none;}
    .tab-select{margin-bottom: 0;}
    .container::after{top: inherit; bottom: -15px; right: -40px;}
  }
  .wealify-intro{
    .content,.img-wrapper{max-width: 100%; width: 100%;}
    .img-wrapper{display: none; max-width: 115%; width: 115%; margin: -11% 0 0 -6%; position: relative;}
    &::before{width: 320px; height: 250px; top: 80px; left: -67px;}
    &::after{width: 345px; height: 9px; background: url("#{$img-path}/line2.svg") 50% 0;}
  }
  .wealify-intro-desk{
    .img-wrapper{display: none;}
    .note{text-align: center;}
    .btn-start{margin: 40px auto 20px;}
  }
  .wealify-platform{
    padding: 44px 0;
    &::after{width: 270px; height: 230px; right: -70px; bottom: -80px;}
    .row{flex-direction: column-reverse;}
    .img-wrapper{margin: 24px 0 0;}
  }
  .wealify-procedure{
    .header{margin-bottom: 24px;}
    .procedure-list{
      .item{width: 100%;}
    }
  }
  .wealify-work{
    &::after{width: 131px; height: 75px; transform: translateX(0); top: -10px; left: inherit; right: 16px;}
  }
  .wealify-feature{
    .header{margin-bottom: 24px;}
    .item{margin-bottom: 0; height: inherit;}
    .slick-track{display: flex;}
  }
  .wealify-about{
    .img-wrapper{width: 140%; margin: -25% -20%;}
  }
  
  .wealify-us{
    .grid-template{grid-template-columns: repeat(1,1fr);}
  }
  .wealify-branch{
    .branch-list{grid-template-columns: repeat(1,1fr); padding: 0 10px;}
  }
  .wealify-wedo{
    .banner{display: none;}
  }
  .wealify-about-us{
    &::after{left: -66%; width: 500px;}
    .img-wrapper{display: none;}
  }
  .wealify-partners{
    padding-bottom: 44px;
    .partner-list{padding: 0;}
    .item{margin: 0;}
    .rating span{width: 55px; height: 41px;}
    .slick-slide{height: inherit;}
    .slick-dots{margin-top: 6px;}
  }
  .wealify-support,.wealify-looking{
    .item{width: 100%; margin-bottom: 20px;}
    .item:last-child{margin-bottom: 0;}
  }

  .wealify-message{
    .content{padding-bottom: 40px; margin-bottom: 40px;}
  }
  .wealify-formation{
    .content{padding-top: 20px;}
    .item{font-size: 16px; line-height: 24px;}
  }
  .wealify-contact{
    .btn-start{margin-top: 20px;}
  }
  

  h1{margin-bottom: 4px; font-size: 24px; line-height: 36px;}
  .slick-dots{
    display: flex; justify-content: center; margin-top: 28px;
    li{margin: 0 6px;}
    button{
      width: 8px; height: 8px;
      border-radius: 50%;
      background: #E8E6E6;
      padding: 0;
      font-size: 0;
    }
    .slick-active button{background: var(--orange);}
  }

  .pb-lg,.pb-md{padding-bottom: 44px;}
}


//animate
.js-animation{
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0; visibility: hidden;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(1.6);
    filter: saturate(1.6);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
@-webkit-keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(1.6);
    filter: saturate(1.6);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
.flash{
  animation-name: flash;
  -webkit-animation-name: flash;
}